---
layout: base_es.liquid
title: Región de la Ladera Occidental | Retribuciones | Colorado Lottery
meta_description: En 39 años, Colorado Lottery ha devuelto $4 mil millones a Colorado. Vea todos los lugares en la Región de la Ladera Occidental que son posibles gracias a los fondos de Colorado Lottery.
body_class: region
---
<header class="composite" data-bindable="header-scroll"><div class="header-inner"><div class="background-anim"><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/western-slope/sky.png)"></div><div class="layer-fg layer-scrolls layer-clouds" style="background-image: url(/giving-back/assets/images/headers/western-slope/clouds.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/western-slope/mountains.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/western-slope/mg.png)"><div class="bird-1-outer"><div class="layer-fg layer-bird-1" style="background-image: url(/giving-back/assets/images/headers/western-slope/bird-1.png)"></div></div><div class="bird-1-outer two"><div class="layer-fg layer-bird-1" style="background-image: url(/giving-back/assets/images/headers/western-slope/bird-1.png)"></div></div><div class="bird-2-outer"><div class="layer-fg layer-bird-2" style="background-image: url(/giving-back/assets/images/headers/western-slope/bird-2.png)"></div></div><div class="bird-2-outer two"><div class="layer-fg layer-bird-2" style="background-image: url(/giving-back/assets/images/headers/western-slope/bird-2.png)"></div></div></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/western-slope/fg.png)"></div></div>
  <a class="btn blue" href="/giving-back/es/regions/" id="top">VOLVER A TODAS LAS REGIONES</a>
  <div class="text">
    <h1>Región de la Ladera Occidental</h1>
  </div>
</div>
</header>
<article>
  <p>La Ladera Occidental de Colorado es el lugar donde las montañas se encuentran con el altiplano. Con picos esculpidos, cañones profundos y tierra fértil, es un fiel reflejo del diverso entorno que distingue a Colorado y que suplica ser explorado.</p>
  <p><em>Condados que forman parte de la Región de la Ladera Occidental: Delta, Garfield, Gunnison, Mesa, Moffat, Rio Blanco</em></p>

  <section class="featured-project-carousel">
    <a id="featured-project"></a>
    <h2>Explore nuestros proyectos en la Región de la Ladera Occidental</h2>

    <style>
      .project-image-western-slope-1:before {
      	background-image: url('/giving-back/assets/images/Kokopelli Trail.webp');
      }
      .project-image-western-slope-2:before {
      	background-image: url('/giving-back/assets/images/Kochevar Open Space.webp');
      }
      .project-image-western-slope-3:before {
      	background-image: url('/giving-back/assets/images/TrampeRanch.webp');
      }
      .project-image-western-slope-4:before {
      	background-image: url('/giving-back/assets/images/MonumentViewTrail2.webp');
      }
      .project-image-western-slope-5:before {
      	background-image: url('/giving-back/assets/images/coffman-ranch.webp');
      }
      .project-image-western-slope-6:before {
      	background-image: url('/giving-back/assets/images/breeze-park.webp');
      }
      .project-image-western-slope-7:before {
      	background-image: url('/giving-back/assets/images/palisade plunge.webp');
      }
      .project-image-western-slope-8:before {
      	background-image: url('/giving-back/assets/images/steamboat lake.webp');
      }
    </style>

    <div class="carousel-card-wrapper">
      <a id="project-carousel" name="project-carousel"></a>
      <button class="featured-prev carousel-prev" title="Previous PROYECTO DESTACADO"><img src="/giving-back/assets/images/icons/arrow-left.svg" alt="" /></button>
      <button class="featured-next carousel-next" title="Next PROYECTO DESTACADO"><img src="/giving-back/assets/images/icons/arrow-right.svg" alt="" /></button>
      <div class="carousel-cards" id="carousel-cards">
        <div class="project-card">
          <div class="project-card-image project-image-western-slope-1">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Tramo Kokopelli del sendero Colorado Riverfront</span>
            <span>1 of 8</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-western-slope-2">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Espacio Abierto Kochevar</span>
            <span>2 of 8</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-western-slope-3">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Trampe Ranch</span>
            <span>3 of 8</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-western-slope-4">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Sendero Monument View</span>
            <span>4 of 8</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-western-slope-5">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Rancho Coffman</span>
            <span>5 of 8</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-western-slope-6">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Parque Breeze&mdash;Craig, CO</span>
            <span>6 of 8</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-western-slope-7">
          </div>
          <div class="project-card-body">
            <span class="notification">NUEVO</span>
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Palisade Plunge</span>
            <span>7 of 8</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-western-slope-8">
          </div>
          <div class="project-card-body">
            <span class="notification">NUEVO</span>
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Steamboat Lake State Park</span>
            <span>8 of 8</span>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-slides" id="carousel-slides">

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Tramo Kokopelli del sendero Colorado Riverfront
        </p>
        <p>
          Gracias a la finalización del tramo Kokopelli del sendero Colorado Riverfront, el cual se extiende desde Fruita hasta Loma dentro del Área de Conservación Nacional McInnis Canyons, los ciclistas ahora tienen otra razón para pedalear en el oeste de Colorado. El proyecto de $4 millones se concretó gracias a dos subvenciones financiadas por la Lotería: $2 millones de Great Outdoors Colorado (GOCO) y $300,000 del Conservation Trust Fund. El tramo Kokopelli del sendero Colorado Riverfront lleva a los ciclistas directamente desde el centro de Fruita hacia todos los icónicos senderos de montaña y emblemáticas áreas al aire libre.
        </p>

        <article class="cards large" data-bindable="virtual-cards">
          <div class="card wrapped">
            <a class="vr-overlay" title="Start VR Video" href="/giving-back/es/vr/#!biking"><img alt="Start VR Video" src="/giving-back/assets/images/cards/western-slope-large.jpg" width="100%"></a><a class="btn" href="/giving-back/es/vr/#!biking">Horsethief Canyon en RV</a>
          </div>
        </article>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/4KCRMkb36_k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div></article>

        <p class="project-lead project-next">
          <a href="#">PRÓXIMO PROYECTO: Espacio Abierto Kochevar</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Espacio Abierto Kochevar
        </p>

        <p>
          El espacio abierto Kochevar de 322 acres, situado en el límite de Crested Butte, actualmente es conservado y está abierto al público gracias al aporte de $3,012,500 que hizo la Lotería. El proyecto no solo protege valiosos hábitats silvestres y vistas panorámicas como Smith Hill, Lupine Trail y Paradise Divide, sino que también ayuda a preservar el estado de los humedales, al reducir la frecuencia e intensidad de las inundaciones. El proyecto también abre la posibilidad de construir una nueva red de senderos a lo largo del río Slate.
        </p>

        <article class="image-container"><div class="wrapped"><img src="/giving-back/assets/images/Kochevar Open Space.webp" alt="Kochevar Open Space" /></div></article>

        <p class="project-lead project-next">
          <a href="#">PRÓXIMO PROYECTO: Trampe Ranch</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Trampe Ranch
        </p>

        <p>
          El proyecto de Servidumbre de Conservación Trampe Ranch recibió la subvención más grande de la historia financiada por la Lotería en una única transacción por la suma de $10 millones. La finca de 8 mil acres situada en el condado de Gunnison, la cual está rodeada de algunos de los paisajes más deslumbrantes de Colorado, ahora quedará protegida para siempre de futuros desarrollos. El proyecto incluye la parcela de tierra de Jack’s Cabin, la cual es parte esencial de la economía agrícola del condado y el hábitat del urogallo de Gunnison, el ciervo canadiense y el ciervo mulo.
        </p>

        <article class="image-container"><div class="wrapped"><img src="/giving-back/assets/images/TrampeRanch.webp" alt="Trampe Ranch" /></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Sendero Monument View</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Sendero Monument View
        </p>

        <p>
          El sendero Monument View, conocido también como el Empalme de Fruita, es una parte esencial del sendero más grande Colorado Riverfront. Este tramo de 8.3 millas se construyó en tres etapas, en las que se utilizaron unos $5 millones aportados por la Lotería. El proyecto conecta el vasto sistema de senderos de la Ladera Occidental, entre ellos, Palisade Plunge, Lunch Loops, Kokopelli, la estación de esquí Powderhorn situada en las cercanías y otras bici-sendas en Fruita.
        </p>

        <article class="image-container"><div class="wrapped"><img src="/giving-back/assets/images/MonumentViewTrail2.webp" alt="Sendero Monument View" /></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Rancho Coffman</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Rancho Coffman
        </p>

        <p>Ubicado en el río Roaring Fork, a solo un par de millas al este de Carbondale, Coffman Ranch cuenta con 141 acres de ranchos productivos, hábitat de vida silvestre nativa y más de un siglo de profundas raíces agrícolas. La combinación de bosques ribereños, matorrales, pastizales y humedales en Coffman Ranch proporciona una riqueza de hábitat y actividad de vida silvestre.</p>
        <p>En 2020, nuestro socio beneficiario, <a href="https://www.goco.org/es" target="_blank">Great Outdoors Colorado</a>, otorgó una subvención de $2,500,000 a Aspen Valley Land Trust en asociación con otros para adquirir Coffman Ranch. Ahora, Coffman Ranch se mantiene fiel a su herencia como un rancho de trabajo, brindando numerosas oportunidades de participación comunitaria y experiencias al aire libre, para inspirar a la próxima generación de agricultores y ganaderos. <a href="https://www.avlt.org/coffman.html" target="_blank">Lea más sobre la historia, la conservación y el impacto de Coffman Ranch</a>.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/805261015?h=4b2501fd3a&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Parque Breeze&mdash;Craig, CO</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Parque Breeze&mdash;Craig, CO
        </p>

        <p>
          Ubicado cerca del centro de Craig, el parque Breeze es un refugio al aire libre muy utilizado y apreciado por el vecindario circundante y la comunidad en general.
        </p>

        <p>
          En 2015, la ciudad de Craig utilizó las subvenciones de los socios al aire libre de la Lotería de Colorado para realizar mejoras significativas en las comodidades y la accesibilidad del parque. Las renovaciones incluyeron mejoras a un sistema de riego de 35 años, la construcción de un sendero accesible según la Ley para Estadounidenses con Discapacidades, y de concreto de 820 pies cuadrados, una nueva glorieta de 720 pies cuadrados y dos áreas de pícnic protegidas, así como varias otras comodidades al aire libre como unas tablas del juego de hoyos de maíz y una estación de ejercicios al aire libre.
        </p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/791278872?h=a4df5fb47c&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div></article>

        <p>
          Las actualizaciones al parque son un gran beneficio para los casi 4,000 residentes de Craig que viven a 10 minutos a pie del parque para participar en actividades al aire libre y participar en eventos de administración organizados por el departamento de parques y recreación.
        </p>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Palisade Plunge</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Palisade Plunge
        </p>

        <p>Se utilizaron USD 1.2 millones en ingresos de la Lotería para completar la construcción del <a href="https://www.copmoba.org/palisade-plunge" target="_blank">Palisade Plunge</a>, una atracción recreativa de clase mundial para Western Slope, Colorado. Con el objetivo de crear un sendero épico de ciclismo de montaña que se extiende desde la cima del Grand Mesa hasta la ciudad de Palisade, el financiamiento de la Lotería no solo permitió solventar la construcción del sendero, el desarrollo de la infraestructura y la mejora de las oportunidades recreativas a lo largo de la ruta, sino que también incluyó una subvención de USD 43.000 en 2017 a través de GOCO para financiar el proceso de planificación. Los dólares de la Lotería a través de GOCO han financiado este proyecto de manera integral, lo que constituye una importante contribución para promover la recreación al aire libre, impulsar las economías locales y preservar la belleza natural de la región para residentes y visitantes.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/GwiGyCrf6ws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Steamboat Lake State Park</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Steamboat Lake State Park
        </p>

        <p>Las actividades recreativas financiadas por la Lotería en el <a href="https://cpw.state.co.us/placestogo/parks/SteamboatLake" target="_blank">Steamboat Lake State Park</a> ofrecen a los visitantes muchas oportunidades para vivenciar el impresionante entorno natural del parque. A medida que el invierno transforma el Steamboat Lake State Park en un "país de las maravillas" cubierto de nieve, crece el atractivo del ciclismo sobre ruedas gruesas, que atrae a los entusiastas a explorar sus senderos pintorescos y sus terrenos escarpados. Este estimulante deporte ofrece una perspectiva única de la belleza del invierno, y ofrece a los ciclistas la oportunidad de deslizarse sin esfuerzo a través de paisajes vírgenes de nieve.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/HDnVaq-YSFc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>En sintonía con la emoción que genera explorar, cabe destacar el mensaje de la campaña reciente de la <a href="https://www.winteringwildlife.org/" target="_blank">Wildlife Conservation Initiative</a> sobre la recreación responsable en invierno, que se financió con los ingresos de la Lotería a través del programa de subvenciones del Fondo de Innovación del Director de GOCO en 2023. La campaña arroja luz sobre el impacto potencial de las actividades humanas en los hábitats de la fauna salvaje durante los meses más fríos, y destaca la importancia de minimizar las perturbaciones en los ecosistemas vulnerables. Al adoptar prácticas de gestión ambiental y pisar con cuidado el terreno invernal, los ciclistas de ruedas gruesas pueden asegurarse de que sus aventuras dejarán huellas mínimas, a fin de preservar la belleza natural y la integridad ecológica de estas maravillas invernales para las generaciones futuras.</p>

        <p class="project-lead">
          <a href="#" class="project-next">VOLVER A: Tramo Kokopelli del sendero Colorado Riverfront</a>
        </p>
      </div>

    </div>

    <script>
    $('.carousel-slides').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      adaptiveHeight: true,
      focusOnSelect: true,
      initialSlide: 6,
      asNavFor: '.carousel-cards'
    });
    $('.carousel-cards').slick({
      asNavFor: '.carousel-slides',
      prevArrow: '.featured-prev',
      nextArrow: '.featured-next',
      dots: false,
      focusOnSelect: true,
      centerMode: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      infinite: true,
      swipeToSlide: true,
      initialSlide: 6,
      responsive: [
        {
          breakpoint: 840,
          settings: {
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.project-next').on('click', function(e){
      e.preventDefault();
      document.getElementById("carousel-cards").scrollIntoView({behavior: "smooth"});
      $('.carousel-cards').slick('slickNext');
    });
    </script>
  </section>

  <header class="regional-slideshow">
    <a id="project-list"></a>
    <div class="regional-project-slides">
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets/images/western-slope-slider-1.jpg');"></div>
    </div>
    <h2>Proyectos Regionales</h2>
    <p class="h4">Información resumida</p>
    <article class="cards">
      <div class="card"><p class="h5">Total Invertido a la Fecha</p><p class="h3">$246.606.469</p></div>
      <div class="card"><p class="h5">Superficie Total Conservada a la Fecha</p><p class="h3">137.553</p></div>
      <div class="card"><p class="h5">Total de Subvenciones Adjudicadas a la Fecha</p><p class="h3">677</p></div>
    </article>
  </header>
  <article class="data-sheet" data-bindable="data-sheet" data-region="western-slope"></article>
  <a class="region-article southwest" href="/giving-back/es/southwest-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">PRÓXIMO PROYECTO</p>
      <p class="h1">Southwest Region</p>
      <div class="btn">Explore <span>la Southwest Region</span></div>
    </div>
  </a>
</article>