body.tightly-wound-styles {
  width: 100% !important;
  height: 100% !important;
  background: #0A1E40;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  overflow: hidden; }
  body.tightly-wound-styles * {
    box-sizing: border-box; }
  body.tightly-wound-styles header,
  body.tightly-wound-styles section.banner,
  body.tightly-wound-styles footer {
    display: none !important; }
  body.tightly-wound-styles div.adapt {
    height: 100% !important; }
  body.tightly-wound-styles section.main, body.tightly-wound-styles section.main div.inner, body.tightly-wound-styles section.main div.inner .flexWrap, body.tightly-wound-styles section.main div.inner .flexWrap > div.column {
    background: transparent !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important; }
  body.tightly-wound-styles section.main div.inner::after {
    display: none !important; }
  body.tightly-wound-styles h1 {
    font-size: 36px;
    line-height: 1.2;
    color: white;
    text-align: center;
    padding: 60px auto;
    margin-bottom: 20px; }
  body.tightly-wound-styles h2 {
    font-size: 22px;
    line-height: 1.2;
    color: white;
    text-align: center;
    padding: 20px auto;
    margin-bottom: 20px; }
  body.tightly-wound-styles h3 {
    font-weight: bold; }
  body.tightly-wound-styles p {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 20px 0; }
  body.tightly-wound-styles .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  body.tightly-wound-styles .buttons a.button {
    margin: 8px; }
  body.tightly-wound-styles a.button,
  body.tightly-wound-styles a.button {
    background: #16E199;
    color: #12254E;
    border-radius: 3px;
    padding: 14px 20px 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    max-width: 320px;
    text-align: center; }
    body.tightly-wound-styles a.button.button-outline,
    body.tightly-wound-styles a.button.button-outline {
      background: transparent;
      border: 1px solid #16E199;
      color: #16E199; }
    body.tightly-wound-styles a.button:hover, body.tightly-wound-styles a.button:focus, body.tightly-wound-styles a.button:active,
    body.tightly-wound-styles a.button:hover,
    body.tightly-wound-styles a.button:focus,
    body.tightly-wound-styles a.button:active {
      background: white;
      color: #12254E; }
  body.tightly-wound-styles #page {
    width: 100%;
    height: 100%;
    background: url("https://static.coloradolottery.com/media/filer_public/b9/c6/b9c60910-36f5-4957-ba98-fd5dbcde2cbc/welcome-bg.png") no-repeat center;
    background-size: cover;
    overflow: auto; }
  body.tightly-wound-styles #gameWrapper {
    border-radius: 6px;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0; }
  body.tightly-wound-styles #game {
    width: 100%;
    height: 100%; }
  @media (max-width: 897px), (max-height: 600px) {
    body.tightly-wound-styles #game {
      height: 100%; } }
  body.tightly-wound-styles #gameHowToPlay {
    position: fixed;
    padding: 60px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.2s ease 0s;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(24, 44, 88, 0.95);
    color: white;
    text-align: center;
    overflow: auto; }
    body.tightly-wound-styles #gameHowToPlay .inner {
      display: flex;
      align-items: center;
      flex-direction: column; }
    body.tightly-wound-styles #gameHowToPlay.fadeOut {
      opacity: 0;
      visibility: hidden;
      overflow: hidden; }
    body.tightly-wound-styles #gameHowToPlay p {
      margin: 30px 0; }
      body.tightly-wound-styles #gameHowToPlay p:first-child {
        padding-top: 60px; }
      body.tightly-wound-styles #gameHowToPlay p:last-child {
        padding-bottom: 60px; }
  body.tightly-wound-styles #gameIntro {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    opacity: 1;
    transition: all 0.2s ease 0s;
    position: relative;
    z-index: 100;
    max-height: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around; }
    body.tightly-wound-styles #gameIntro.fadeOut {
      opacity: 0;
      visibility: hidden;
      max-height: 100vh;
      overflow: hidden; }
    body.tightly-wound-styles #gameIntro h1 {
      margin: 0; }
    body.tightly-wound-styles #gameIntro .logo {
      min-width: 240px;
      width: 70vh;
      max-width: 80%; }
    body.tightly-wound-styles #gameIntro .meow {
      position: absolute;
      left: 5%;
      top: 60%;
      transform: translate(0%, -50%);
      z-index: 100;
      width: 20%;
      max-width: 150px;
      min-width: 100px; }
      @media (max-width: 600px) {
        body.tightly-wound-styles #gameIntro .meow {
          top: 50%;
          transform: translate(-50%, -50%); } }
  body.tightly-wound-styles #gameInstructions {
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-weight: bold;
    position: relative;
    z-index: 260; }
    body.tightly-wound-styles #gameInstructions h2 {
      margin-bottom: 10px; }
      body.tightly-wound-styles #gameInstructions h2 + p {
        margin-bottom: 20px; }
    body.tightly-wound-styles #gameInstructions h2, body.tightly-wound-styles #gameInstructions p {
      text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px; }
  @media (max-width: 800px) {
    body.tightly-wound-styles #gameInstructions {
      flex-direction: column; } }
  body.tightly-wound-styles #gameInstructions #gameHelp,
  body.tightly-wound-styles #gameInstructions #gameControls {
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 1.4; }
  body.tightly-wound-styles #gameInstructions #gameHelp p {
    margin: 0 0 10px 0; }
    body.tightly-wound-styles #gameInstructions #gameHelp p:last-child {
      margin-top: 20px; }
  @media (max-width: 800px) {
    body.tightly-wound-styles #gameInstructions #gameHelp {
      order: 1; } }
  @media (max-width: 800px) {
    body.tightly-wound-styles #gameInstructions #gameControls {
      order: 2; } }
  body.tightly-wound-styles #gameInstructions #gameControls img {
    max-width: 100%; }
  body.tightly-wound-styles #gameInstructions #gameHelp a:not(.button) {
    font-size: 13px;
    color: white;
    opacity: 0.7; }
  body.tightly-wound-styles #gameInstructions #gameHelp a:not(.button):hover,
  body.tightly-wound-styles #gameInstructions #gameHelp a:not(.button):focus {
    color: white;
    opacity: 1; }
  body.tightly-wound-styles #gameReady {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(9, 18, 39, 0.7);
    top: 0;
    left: 0;
    padding: 60px;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: white;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease 0s; }
  body.tightly-wound-styles #gameReady.fadeIn {
    visibility: visible;
    opacity: 1; }
  body.tightly-wound-styles #gameReady h1,
  body.tightly-wound-styles #gameReady h2 {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease 0s;
    visibility: hidden;
    opacity: 0; }
  body.tightly-wound-styles #gameReady h1.fadeIn,
  body.tightly-wound-styles #gameReady h2.fadeIn {
    visibility: visible;
    opacity: 1; }
  body.tightly-wound-styles #gameReady h1 {
    top: 40px; }
  body.tightly-wound-styles #gameReady h1 a.button {
    margin: 0; }
  body.tightly-wound-styles #gameReady h2 {
    top: 100px; }
  body.tightly-wound-styles #gameReady h2 a.button {
    margin: 0; }
  body.tightly-wound-styles #gameOver {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(9, 18, 39, 0.7);
    top: 0;
    left: 0;
    padding: 60px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease 0s;
    z-index: 10;
    color: white;
    text-align: center; }
  body.tightly-wound-styles #gameOver.fadeIn {
    visibility: visible;
    opacity: 1; }
  body.tightly-wound-styles #gameOver .counters {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1rem; }
  body.tightly-wound-styles #gameOver .counters div {
    text-align: center; }
  body.tightly-wound-styles #gameOver .counters div img,
  body.tightly-wound-styles #gameOver .counters div span.image {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    margin: 0 auto 4px; }

/*
@keyframes background-glide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -548px -582px;
  }
}
*/

/*# sourceMappingURL=tightlywound.css.map */
