---
layout: base.liquid
title: Giving Back | Colorado Lottery
---

<header>
  <h1>You make it possible, Colorado</h1>
</header>
<article>
  <p>
    The Colorado Lottery gives back millions of dollars every year to parks, trails, pools, open space, and schools across our state. Those are all places where Coloradans love to get away and play. Lottery dollars support projects large and small in every county in the state. Check out the Lottery-funded projects in your region.
  </p>
  <p>
    <a class="modal-trigger" href="#modalVideo"><span class="play-icon">&#9654;</span>See the fun the Lottery funds</a>
  </p>
  <style>
    .project-card-image.project1:before {
    	background-image: url('/giving-back/assets/images/Dehli_Ranch.webp');
    }
    .project-card-image.project2:before {
    	background-image: url('/giving-back/assets/images/La Junta Brick and Tile Park.webp');
    }
    .project-card-image.project3:before {
    	background-image: url('/giving-back/assets/images/Hanging Lake.webp');
    }
  </style>
  <div class="featured-projects">
    <h2>Featured Projects</h2>

    <a class="project-card" href="eastern-region/">
      <div class="project-card-image project1">
      </div>
      <div class="project-card-body">
        <span class="project-feature">EASTERN</span>
        <span class="project-name">Delhi Ranch Conservation Easement</span>
      </div>
    </a>

    <a class="project-card" href="eastern-region/">
      <div class="project-card-image project2">
      </div>
      <div class="project-card-body">
        <span class="project-feature">EASTERN</span>
        <span class="project-name">La Junta Brick &amp; Tile Park</span>
      </div>
    </a>

    <a class="project-card" href="mountain-region/">
      <div class="project-card-image project3">
      </div>
      <div class="project-card-body">
        <span class="project-feature">MOUNTAIN</span>
        <span class="project-name">Hanging Lake</span>
      </div>
    </a>

  </div>

  <h2 class="subtitle">More to Explore</h2>
  <div class="more-to-do">
    <a class="more-card" href="explore/">
      <div class="more-card-image explore">
      </div>
      <div class="more-card-body">
        Explore the Map
      </div>
    </a>
    <a class="more-card" href="virtual-reality/">
      <div class="more-card-image virtual-reality">
      </div>
      <div class="more-card-body">
        Experience 360&deg; VR
      </div>
    </a>
    <a class="more-card" href="regions/">
      <div class="more-card-image projects"project-card>
      </div>
      <div class="more-card-body">
        See All Projects
      </div>
    </a>
    <a class="more-card" href="faq/">
      <div class="more-card-image faq"project-card>
      </div>
      <div class="more-card-body">
        FAQ
      </div>
    </a>
  </div>
</article>

  <script>
    $(".modal-trigger").on("click", function(e){
      e.preventDefault();
      $("#modalVideo").show().addClass("show");
      $("#modalVideo .video-wrapper").empty();
      $("#modalVideo .video-wrapper").append('<div><iframe width="560" height="315" src="https://www.youtube.com/embed/OzmQqOHVC5I?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>');
    });
    $(".modal-close").on("click", function(e){ e.preventDefault(); $("#modalVideo").hide().removeClass("show"); $("#modalVideo .video-wrapper").empty(); });
  </script>