---
layout: base_es.liquid
title: Región de la Cordillera Frontal | Retribuciones | Colorado Lottery
meta_description: En 39 años, Colorado Lottery ha devuelto $4 mil millones a Colorado. Vea todos los lugares en la Región de la Cordillera Frontal que son posibles gracias a los fondos de Colorado Lottery.
body_class: region
---
<header class="composite" data-bindable="header-scroll"><div class="header-inner"><div class="background-anim"><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/front-range/sky.png)"></div><div class="layer-fg layer-scrolls layer-clouds" style="background-image: url(/giving-back/assets/images/headers/front-range/clouds.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/front-range/city.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/front-range/fg.png)"><div class="fountain-outer"><div class="layer-fg layer-fountain" style="background-image: url(/giving-back/assets/images/headers/front-range/fountain.png)"></div></div></div></div><a class="btn blue" href="/giving-back/es/regions/" id="top">VOLVER A TODAS LAS REGIONES</a><div class="text"><h1>Región de la Cordillera Frontal</h1></div></div></header>

<article>
  <p>Albergando ocho de las 10 ciudades más importantes de Colorado, la Región de la Cordillera Frontal es el centro residencial y de negocios del estado. Los picos nevados que ofrecen un espectacular entorno para rascacielos y vecindarios pujantes, sumado a la afluencia de personas que buscan el estilo de vida de Colorado, generan una cultura vibrante y diversa de la que es muy difícil no enamorarse.</p>
  <p><em>Condados que forman parte de la Región de la Cordillera Frontal: Adams, Arapahoe, Broomfield, Denver, Douglas, El Paso, Jefferson</em></p>

  <section class="featured-project-carousel">
    <a id="featured-project"></a>
    <h2>Explore nuestros proyectos en la Región de la Cordillera Frontal</h2>

    <style>
      .project-image-front-range-1:before {
      	background-image: url('/giving-back/assets/images/East Plum Creek Trail.webp');
      }
      .project-image-front-range-2:before {
      	background-image: url('/giving-back/assets/images/Clement Park.webp');
      }
      .project-image-front-range-3:before {
      	background-image: url('/giving-back/assets/images/barr-lake-state-park.webp');
      }
      .project-image-front-range-4:before {
      	background-image: url('/giving-back/assets/images/prospect-park.webp');
      }
      .project-image-front-range-5:before {
      	background-image: url('/giving-back/assets/images/evergreen-lake.webp');
      }
      .project-image-front-range-6:before {
      	background-image: url('/giving-back/assets/images/panorama park.webp');
      }
    </style>

    <div class="carousel-card-wrapper">
      <a id="project-carousel" name="project-carousel"></a>
      <button class="featured-prev carousel-prev" title="Proyecto Destacado Anterior"><img src="/giving-back/assets/images/icons/arrow-left.svg" alt="" /></button>
      <button class="featured-next carousel-next" title="Próximo Proyecto Destacado"><img src="/giving-back/assets/images/icons/arrow-right.svg" alt="" /></button>
      <div class="carousel-cards" id="carousel-cards">
        <div class="project-card">
          <div class="project-card-image project-image-front-range-1">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Sendero East Plum Creek</span>
            <span>1 de 6</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-front-range-2">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Clement Park en Littleton</span>
            <span>2 de 6</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-front-range-3">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Parque estatal del lago Barr</span>
            <span>3 de 6</span>
          </div>
        </div>
        <div class="project-card" tabindex="-1">
          <div class="project-card-image project-image-front-range-4">
          </div>
          <div class="project-card-body">
            <span class="notification">NUEVO</span>
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Prospect Park</span>
            <span>4 de 6</span>
          </div>
        </div>
        <div class="project-card" tabindex="-1">
          <div class="project-card-image project-image-front-range-5">
          </div>
          <div class="project-card-body">
            <span class="notification">NUEVO</span>
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Evergreen Lake</span>
            <span>5 de 6</span>
          </div>
        </div>
        <div class="project-card" tabindex="-1">
          <div class="project-card-image project-image-front-range-6">
          </div>
          <div class="project-card-body">
            <span class="notification">NUEVO</span>
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Panorama Park</span>
            <span>6 de 6</span>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-slides" id="carousel-slides">

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Sendero East Plum Creek
        </p>

        <p>El sendero East Plum Creek en Castle Rock extiende el sistema de senderos dos millas al sur, a lo largo del corredor East Plum Creek. El 99% del sendero se encuentra abierto al público. El sendero East Plum Creek está abierto para senderistas, corredores y ciclistas y cumple con las normas de accesibilidad conforme a la Ley de Americanos con Discapacidad (ADA) Ofrece diversas actividades de programación al aire libre; es un camino seguro fuera de la vía pública para ir en bicicleta entre vecindarios y conecta a los residentes del lugar con el Centro Histórico de Castle Rock.</p>

        <article class="image-container"><div class="wrapped"><img src="/giving-back/assets/images/East Plum Creek Trail.webp" alt="East Plum Creek Trail" /></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Clement Park en Littleton</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Clement Park en Littleton
        </p>

        <p>El tesoro más valioso de Littleton, Clement Park es mucho más que césped y un parque infantil: es un centro comunitario. En los últimos años, la Lotería invirtió $700,000 en dos importantes proyectos en Clement Park. </p>
        <p>El primero de ellos es la fuente de agua interactiva, la cual reemplazó a la antigua fuente de agua del parque de casi 30 años. Entremezclando elementos del ambiente natural en un área urbana, las curvas de acero inoxidable representan las montañas al oeste, mientras que un enorme arco de acero genera una cortina de agua. Piedras de la zona elegidas a manos encauzan el canal del río a lo largo de estructuras de cemento para usar de asiento. El área de chapoteo incluye varios tipos de rociadores, un torrente lineal y una cascada. </p>

        <article class="image-container"><div class="wrapped"><img src="/giving-back/assets/images/Clement Park.webp" alt="Clement Park in Littleton" /></div></article>

        <p>La Lotería también ayudó a financiar el parque infantil inclusivo de Clement Park, un espacio renovado para niños de todas las edades y capacidades. El parque infantil ofrece experiencias únicas basadas en las artes escénicas, entre ellas, un xilofón interactivo, un escalador con forma de trombón y un pequeño anfiteatro donde los niños pueden montar sus propios espectáculos. Clement Park recibe más de un millón de visitantes al año, lo cual lo transforma en el parque más concurrido del distrito.</p>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Parque estatal del lago Barr</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Barr Lake State Park
        </p>

        <p>El parque del lago Barr es el único parque estatal en el condado de Adams y tiene algo para cada tipo de entusiasta del aire libre.</p>
        <p>Los ciclistas, los excursionistas por la naturaleza y los jinetes disfrutan del sendero nivelado de usos múltiples de 8.8 millas que rodea el lago, pasando por varias estaciones de observación de vida silvestre y el refugio de vida silvestre del parque. Los observadores de aves visitan para ver las más de 350 especies de aves que se han visto en el parque, incluidas numerosas águilas calvas. Los entusiastas de la pesca y los navegantes, incluidos los kayakistas y los canoistas, disfrutan de las tranquilas aguas del lago durante todo el año.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/791279052?h=9428010200&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>El lago Barr también ofrece un muelle de pesca de 90 pies de largo que acomoda a todos los visitantes del parque, incluidos aquellos con problemas de movilidad. Anteriormente, la inaccesibilidad de las sillas de ruedas para pescar era una queja frecuente en el parque y, a menudo, requería tener que rechazar a las personas. La Lotería de Colorado se enorgullece de haber ayudado a financiar el cuidado y la preservación del Parque Estatal Lago Barr, así como de brindar accesibilidad a todos sus visitantes. <a href="https://cpw.state.co.us/placestogo/parks/barrlake" target="_blank">Obtenga más información sobre el Parque Estatal Lago Barr</a>.</p>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Parque estatal del lago Barr</a>
        </p>
      </div>


      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Prospect Park
        </p>

        <p>Prospect Park, dos veces ganador del Premio Starburst, se ha beneficiado de más de USD 1.2 millones en fondos de la Lotería a través de GOCO y CTF desde 2017. Ubicado en Wheat Ridge, este parque regional ofrece diversas comodidades y se encuentra junto al Wheat Ridge Greenbelt de 300 acres, que conecta con el sendero Peaks to Plains Trail.</p>

        <p>La fase 2 de la renovación comenzó en noviembre de 2021 y se centró en varias mejoras clave. Estas incluyeron la sustitución del pabellón de picnic y el parque infantil del este, la conversión de la pista de tenis en seis pistas de pickleball, la adición de dos refugios y un muelle de pesca, la mejora de la entrada del parque, el arreglo de los caminos para vehículos y peatones, y mejoras generales en el riego y el paisajismo en todo el parque.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/-drPMTf-P-8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>Cada año, alrededor de 45.000 residentes y visitantes visitan Prospect Park, atraídos por sus múltiples ofertas. Las renovaciones incrementaron las oportunidades de disfrute del parque para personas de todas las edades, orígenes y capacidades.</p>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Evergreen Lake</a>
        </p>
      </div>


      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Evergreen Lake
        </p>

        <p>Los ingresos de la Lotería por un total de más de USD 260.000 financiaron y completaron múltiples proyectos en Evergreen Lake y los alrededores. Los proyectos se centraron en la rehabilitación de los senderos con mucho uso, los paseos marítimos, el parque y la orilla del lago Evergreen, que servía como pieza central del sistema de parques escénicos y recreativos de Evergreen. Como parte de esta rehabilitación, se repararon senderos y vallas dañados, se eliminaron senderos sociales, se crearon condiciones de seguridad para los paseos marítimos y se aplicaron medidas de control de la erosión. Los miembros del cuerpo de jóvenes también tuvieron la oportunidad de participar en actividades diarias de educación medioambiental únicas a través de una asociación con el Evergreen Nature Center, que se encuentra a orillas del lago Evergreen.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/OYXJiLcS0ds" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>El Distrito de Parques y Actividades Recreativas de Evergreen también recibió una subvención GOCO para realizar mejoras en el sendero Evergreen Lake Loop, un sendero de 1,3 millas que rodea el lago Evergreen, el principal punto de encuentro comunitario de la ciudad. Las mejoras incluyeron la restauración del sendero, la reparación de los paseos marítimos existentes y la sustitución de una escalera de acero empinada existente al norte de la presa de Evergreen por un sendero accesible. Todos los usuarios del parque se beneficiaron de las mejoras, que proporcionaron un acceso más seguro a los lugares medioambientales, educativos e históricos del Loop Trail.</p>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Panorama Park</a>
        </p>
      </div>


      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Panorama Park
        </p>

        <p><a href="https://coloradosprings.gov/panoramapark" target="_blank">Panorama Park</a> experimentó una revitalización significativa en 2022 y se convirtió en el parque más grande de Colorado Springs, gracias a los esfuerzos de colaboración que involucraron a residentes, socios comunitarios y organizaciones filantrópicas. Gracias al máximo aprovechamiento de una subvención de USD 350.000 en fondos de la Lotería a través de GOCO, en colaboración con Trust for Public Land y RISE Coalition, la ciudad participó en un proceso de descubrimiento del parque que conjugó los aportes del público y desarrolló diseños para un parque que invita a la recreación y el juego seguros al aire libre. La comunidad se unió en torno al proyecto, cuyo objetivo fue promover la equidad recreativa y el bienestar.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/negtuPF5Qe8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>El parque renovado, de 13,5 acres, cuenta ahora con elementos innovadores como una zona de juegos universal, un circuito de ciclismo integrado en la gestión de las aguas pluviales y una pista de skate diseñada por jóvenes, que fomenta la inclusión y la propiedad comunitaria. Se aplicaron medidas de sostenibilidad como césped autóctono, césped artificial y estructuras de sombra, además de un proyecto artístico de azulejos dirigido por la comunidad para celebrar la diversidad.</p>

        <p class="project-lead">
          <a href="#" class="project-next">VOLVER A: Sendero East Plum Creek</a>
        </p>
      </div>

    </div>

    <script>
    $('.carousel-slides').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      adaptiveHeight: true,
      focusOnSelect: true,
      initialSlide: 3,
      asNavFor: '.carousel-cards'
    });
    $('.carousel-cards').slick({
      asNavFor: '.carousel-slides',
      prevArrow: '.featured-prev',
      nextArrow: '.featured-next',
      dots: false,
      focusOnSelect: true,
      centerMode: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      infinite: true,
      swipeToSlide: true,
      initialSlide: 3,
      responsive: [
        {
          breakpoint: 840,
          settings: {
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.project-next').on('click', function(e){
      e.preventDefault();
      document.getElementById("carousel-cards").scrollIntoView({behavior: "smooth"});
      $('.carousel-cards').slick('slickNext');
    });
    </script>
  </section>

  <header class="regional-slideshow">
    <a id="project-list"></a>
    <div class="regional-project-slides">
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets/images/front-range-slider-1.jpg');"></div>
    </div>
    <h2>Proyectos Regionales</h2>
    <p class="h4">Información resumida</p>
    <article class="cards">
      <div class="card"><p class="h5">Total invertido a la fecha</p><p class="h3">$899.531.524</p></div>
      <div class="card"><p class="h5">Superficie total conservada a la fecha</p><p class="h3">59.722 acres</p></div>
      <div class="card"><p class="h5">Total de subvenciones adjudicadas a la fecha</p><p class="h3">803</p></div>
    </article>
  </header>
  <article class="data-sheet" data-bindable="data-sheet" data-region="front-range"></article>
  <a class="region-article southern" href="/giving-back/es/southern-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">PRÓXIMO PROYECTO</p>
      <p class="h1">Región Sur</p>
      <div class="btn">Explore <span>la Región Sur</span></div>
    </div>
  </a>
</article>