/* Variables
------------------------------------------------------*/

$font-primary: "FSEmericWeb-SemiBold",Verdana,sans-serif;
$font-default: "FSEmericWeb-Regular",Verdana,sans-serif;

$blue: #004056;
$darkblue: #002D40;
$tan: #FFF0CE;
$green: #64AE34;

$powerball: #F2231E;
$mega: darken(#E9B900,10%);
$lotto: #00B1EA;
$cash5: darken(#9CC422,5%);
$pick3: #573F9B;

$grey: #111111;
$lightgrey: #dbdbdb;

$red: $powerball;
$lightblue: $lotto;

$width: 1100px;

$round: 3px;