---
layout: base_es.liquid
title: Región Sur | Retribuciones | Colorado Lottery
meta_description: En 39 años, Colorado Lottery ha devuelto $4 mil millones a Colorado. Vea todos los lugares en la Región Sur que son posibles gracias a los fondos de Colorado Lottery.
body_class: region
---
<header class="composite" data-bindable="header-scroll"><div class="header-inner"><div class="background-anim"><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/southern/sky.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/southern/mountains.png)"></div><div class="layer-fg layer-scrolls layer-dune-wind" style="background-image: url(/giving-back/assets/images/headers/southern/dune-wind.png)"><div class="layer-fg" style="background-image: url(/giving-back/assets/images/headers/southern/dunes.png)"></div></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/southern/fg.png)"></div></div><a class="btn blue" href="/giving-back/es/regions/index.html" id="top">VOLVER A TODAS LAS REGIONES</a><div class="text"><h1>Región Sur</h1></div></div></header>

<article>
  <h2 class="h3">Coordenadas del Parque Nacional Great Sand Dunes:<br/>37.7916°N, 105.5943°W</h2>
  <p>Conocido por sus extensos valles y su clima árido, el sur de Colorado encapsula el espíritu del oeste. Incluso hoy, al contemplar el paisaje, uno puede imaginar fácilmente a los primeros colonos estadounidenses atravesando terrenos escarpados, en busca de oro para enriquecerse.</p>
  <p><em>Condados que forman parte de la Región Sur: Pueblo, Saguache, Mineral, Rio Grande, Alamosa, Huerfano, Conejos, Costilla, Las Animas</em></p>

  <section class="featured-project-carousel">
    <a id="featured-project"></a>
    <h2>Explore nuestros proyectos en la Región Sur</h2>

    <style>
      .project-image-southern-1:before {
      	background-image: url('/giving-back/assets/images/FishersPeakSP.webp');
      }
      .project-image-southern-2:before {
      	background-image: url('/giving-back/assets/images/mustang.webp');
      }
    </style>

    <div class="carousel-card-wrapper">
      <a id="project-carousel" name="project-carousel"></a>
      <button class="featured-prev carousel-prev" title="Proyecto Destacado Anterior"><img src="/giving-back/assets/images/icons/arrow-left.svg" alt="[Left Arrow]" /></button>
      <button class="featured-next carousel-next" title="Próximo Proyecto Destacado"><img src="/giving-back/assets/images/icons/arrow-right.svg" alt="[Right Arrow]" /></button>
      <div class="carousel-cards" id="carousel-cards">
        <div class="project-card">
          <div class="project-card-image project-image-southern-2">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Pabellón Kim Mustang</span>
            <span>1 de 2</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-southern-1">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Crazy French Ranch / Parque Estatal Fishers Peak</span>
            <span>2 de 2</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-southern-3">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Limpieza del río Arkansas&mdash;vento anual Runyon to the Res</span>
            <span>3 de 4</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-southern-4">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Parque ribereño de Alamosa</span>
            <span>4 de 4</span>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-slides" id="carousel-slides">

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Pabellón Kim Mustang
        </p>
        <p>
          El pueblo de Kim en Colorado es una de las pocas comunidades genuinamente ganaderas que quedan en el estado; por lo tanto, merecía un homenaje a su vasta tradición de rodeo y, a la vez, un impulso a la economía local. El pabellón Mustang, para el cual se utilizaron fondos de la Lotería por un valor de $1.1 millón, no solo conserva la cultura y el legado ganadero de Kim sino que lo presenta y lo mejora, a la vez que genera ingresos sumamente necesarios para ayudar a la comunidad a prosperar. El pabellón, cuyo funcionamiento está totalmente a cargo de voluntarios y organiza 100 eventos al año, se encuentra ubicado en un predio de 20 acres y es una parte preciada de la comunidad.</p>

          <article class="cards large" data-bindable="virtual-cards"><div class="card wrapped"><a class="vr-overlay" title="Reproducir video de RV" href="/giving-back/es/vr/index.html#!mustang"><img alt="Reproducir video de RV" src="/giving-back/assets/images/mustang.webp" width="100%" /></a><a class="btn" href="/giving-back/es/vr/index.html#!mustang">Ver el pabellón de Mustang en RV</a></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">VOLVER A: Crazy French Ranch / Parque Estatal Fishers Peak</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Crazy French Ranch / Parque Estatal Fishers Peak
        </p>

        <p>Próximamente, Colorado inaugurará su parque estatal N° 42, proyecto en el que se invirtieron más de $17 millones de la Lotería. La organización The Trust for Public Land, en asociación con la Ciudad de Trinidad y The Nature Conservancy, utilizaron las subvenciones de GOCO para ayudar a Colorado Parks and Wildlife a adquirir el predio de 19,200 acres de Crazy French Ranch, el cual alberga la cumbre de Fishers Peak a 9,633 pies de altura. El proyecto es el resultado de una compra en dos etapas y ofrece la oportunidad de servir como modelo para futuros parques estatales, al reflejar una combinación única y sinérgica de conservación de recursos, recreación, educación, beneficios económicos y relevancia cultural para la Ciudad de Trinidad y el Estado de Colorado.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/791279455?h=662268f0b5&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Limpieza del río Arkansas&mdash;vento anual Runyon to the Res</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Limpieza del río Arkansas&mdash;vento anual Runyon to the Res
        </p>

        <p>La Lotería no solo distribuye fondos en todo el estado, también nos ensuciamos las manos. Cada octubre, durante el Mes de la Conservación, la Lotería de Colorado organiza un evento de conservación y administración en Pueblo, donde se encuentra la sede de la Lotería. El evento anual Runyon to the Res reúne a docenas de personal y voluntarios para limpiar miles de libras de basura a lo largo de un tramo de 7.5 millas muy utilizado del río Arkansas donde la gente corre, anda en bicicleta, pesca y disfruta del aire libre.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/Zl3fTCICzXk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>El sendero del río Arkansas comienza en el corazón de Pueblo y se dirige hacia el oeste a lo largo del río hasta el Parque Estatal Lake Pueblo. Es parte del sistema de senderos del río Pueblo, que se extiende por más de dos docenas de millas por toda la ciudad. Mire el video para obtener más información sobre el evento anual Runyon to the Res de la Lotería de Colorado.</p>


        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Parque ribereño de Alamosa</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Parque ribereño de Alamosa
        </p>

        <p>Completado en 2018, el parque ribereño de Alamosa es el resultado de un proyecto de colaboración que elevó las prioridades de la comunidad en torno a la recreación, la conservación y el bienestar.</p>

        <p>Conservación de Rios del Oeste (WRC, por sus siglas en inglés), la ciudad de Alamosa y una larga lista de socios trabajaron juntos para agregar, el prístino parque frente al río de 203 acres, a las ofertas de espacios abiertos de la ciudad y conservar una milla del Río Grande. El parque creó nuevas oportunidades para la recreación a lo largo de las orillas del río y protegió un tramo valioso de hábitat de vida silvestre.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/791279368?h=ae823d9132&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>Ubicado justo al noroeste de Alamosa, el parque sirve como ancla río arriba para la creciente red de senderos para peatones y ciclistas de la ciudad, agregando más de cinco millas de nuevos senderos en la propiedad misma. Para hacer realidad el parque, WRC compró propiedades adyacentes en 2018 a dos familias que compartían la visión de la comunidad de crear un espacio público abierto a lo largo del río y mantener la tierra sin urbanizar. <a href="https://www.westernrivers.org/projects/co/rio-grande-alamosa-riparian-park" target="_blank">Lea más sobre el parque ribereño de Alamosa en el sitio web de Conservación de Rios del Oeste</a>.</p>


        <p class="project-lead">
          <a href="#" class="project-next">VOLVER A: Pabellón Kim Mustang</a>
        </p>
      </div>

    </div>

    <script>
    $('.carousel-slides').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      adaptiveHeight: true,
      focusOnSelect: true,
      asNavFor: '.carousel-cards'
    });
    $('.carousel-cards').slick({
      asNavFor: '.carousel-slides',
      prevArrow: '.featured-prev',
      nextArrow: '.featured-next',
      dots: false,
      focusOnSelect: true,
      centerMode: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      infinite: true,
      swipeToSlide: true,
      responsive: [
        {
          breakpoint: 840,
          settings: {
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.project-next').on('click', function(e){
      e.preventDefault();
      document.getElementById("carousel-cards").scrollIntoView({behavior: "smooth"});
      $('.carousel-cards').slick('slickNext');
    });
    </script>
  </section>

  <header class="regional-slideshow">
    <a id="project-list"></a>
    <div class="regional-project-slides">
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets/images/southern-slider-1.jpg');"></div>
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets/images/southern-slider-2.jpg');"></div>
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets/images/southern-slider-3.jpg');"></div>
    </div>
    <script>
    $('.regional-project-slides').slick({
      autoplay: true,
      arrows: false,
      dots: false,
      speed: 500,
      autoplaySpeed: 2000,
      fade: true,
      cssEase: 'linear',
      pauseOnHover: false
    });
    </script>
    <h2>Proyectos Regionales</h2>
    <p class="h4">Información resumida</p>
    <article class="cards">
      <div class="card"><p class="h5">Total invertido a la fecha</p><p class="h3">$165,693,508</p></div>
      <div class="card"><p class="h5">Superficie total conservada a la fecha</p><p class="h3">332,096 acres</p></div>
      <div class="card"><p class="h5">Total de subvenciones adjudicadas a la fecha</p><p class="h3">414</p></div>
    </article>
  </header>
  <article class="data-sheet" data-bindable="data-sheet" data-region="southern"></article>
  <a class="region-article eastern" href="/giving-back/es/eastern-region/index.html">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Próximo Proyecto</p>
      <h1>Región Este</h1>
      <div class="btn">Explore <span>la Región Este</span></div>
    </div>
  </a>
</article>