---
layout: base.liquid
title: FAQ | Giving Back | Colorado Lottery
body_class: faq
---

<header>
  <h1>Frequently Asked Questions</h1>
</header>
<article>
  <p>
    At its core, the Colorado Lottery is a conservation organization. In fact, it's the only Lottery in the country dedicated to funding the great outdoors. Since 1983, the Colorado Lottery has given more than $4 billion back to parks, trails, open spaces and recreation projects across the state. Profits from the sale of Lottery games in the state are distributed to voter-selected beneficiaries who use those funds to preserve and protect Colorado.
  </p>

  <div class="accordion">
    <a class="h3 trigger" href="#">Where does the money go?</a>
    <div class="response">
      <p>All profits from the sale of all Colorado Lottery products, including Powerball, Mega Millions, Colorado Lotto+, Lucky for Life, Cash 5, Pick 3 and Scratch are distributed to the Lottery's proceeds recipients: Great Outdoors Colorado, Conservation Trust Fund and Colorado Parks and Wildlife (with spillover funds from GOCO going to the Outdoor Equity Grant Board (OEGP) and Building Excellent Schools Today [BEST] fund.). </p>
    </div>
  </div>

  <div class="accordion">
    <a class="h3 trigger" href="#">Why doesn't it go to schools, scholarships, me, etc.?</a>
    <div class="response">
      <p>In 1992 Colorado's citizens voted to commit Lottery proceeds to outdoor recreation, parks, trails, rivers, wildlife, and open space.</p>
    </div>
  </div>

  <div class="accordion">
    <a class="h3 trigger" href="#">Who are the Colorado Lottery's Proceeds partners?</a>

    <div class="response">

      <article class="partner goco">
        <div class="image"></div>
        <h2>
          Great Outdoors Colorado (GOCO)
        </h2>
        <p>
          Great Outdoors Colorado funds projects that impact communities across the state. The Colorado Lottery is GOCO's only funding source and provides GOCO with 50 percent of its proceeds, up to a cap adjusted for inflation back to 1992, when the people of Colorado voted to adopt GOCO. If this percentage exceeds the adjusted cap, the remainder is distributed between the Outdoor Equity Grant Board (OEGP) and Building Excellent Schools Today [BEST] fund. In FY24, the distribution to GOCO was $81.7 million.
        </p>
        <div class="actions">
          <a class="btn outline" href="http://www.goco.org" target="_blank">Visit GOCO</a>
        </div>
      </article>

      <article class="partner co-dola">
        <div class="image"></div>
        <h2>
          Department of Local Affairs (DOLA), Administration of the Conservation Trust Fund Trust Fund (CTF)
        </h2>
        <p>
          The Conservation Trust Fund receives 40 percent of Lottery proceeds. Local parks and recreation providers receive money from the Conservation Trust Fund in proportion to their population so that every town, city, county and special district in Colorado benefits. The Lottery distributed more than $78.5 million to the fund in FY24 for open space and land acquisition, equipment purchases, facility development, park maintenance and renovation or restoration of local facilities.
        </p>
        <div class="actions">
          <a class="btn outline" href="https://dlg.colorado.gov/conservation-trust-fund-ctf" target="_blank">Visit DOLA</a>
        </div>
      </article>

      <article class="partner co-parks-wildlife">
        <div class="image"></div>
        <h2>
          Colorado Parks and Wildlife
        </h2>
        <p>
          Colorado Parks and Wildlife receives 10 percent of Lottery proceeds and also receives Lottery spillover funds once the GOCO cap is met. Colorado's 42 state parks use Lottery money for trail construction and maintenance, land acquisition, equipment and facility purchases and maintenance of state parks facilities. Lottery funding improves the state park experience for more than 12 million annual visitors. The Lottery distributed approximately $19.6 million in FY24 to Colorado Parks & Wildlife before the second-tier spillover funds.
        </p>
        <div class="actions">
          <a class="btn outline" href="http://cpw.state.co.us" target="_blank">Visit CPW</a>
        </div>
      </article>

      <article class="partner oegp">
        <div class="image"></div>
        <h2>
          The Outdoor Equity Grant Program (OEGP)
        </h2>
        <p>
          The Outdoor Equity Grant Program invests in organizations that are working to increase access to the outdoors for youth and families from communities that are traditionally underrepresented in outdoor recreation and conservation. In FY24, OEGP receives the first $3.0 million in Colorado Lottery first-tier spillover funds.
        </p>
      </article>

      <article class="partner best">
        <div class="image"></div>
        <h2>
          Colorado Lottery Spillover Funds
        </h2>
        <p>
          The Colorado Lottery's total spillover funds for FY24 totaled more than $8.2 million. The BEST program (Building Excellent Schools Today) receives the second $3 million in Lottery first-tier spillover funds, which pays for capital construction on public schools. To date, BEST has received nearly $109 million from the Lottery to enhance schools across the state.
          <a href="http://www.cde.state.co.us/cdefinance/capconstbest" target="_blank">Visit BEST</a>.
        </p>
        <p>
          The OEGP and BEST are statutorily capped at $3,000,000 in the first spillover. Funding beyond that is distributed 50% to BEST, 25% to the Wildlife Cash Fund, and 25% to the Parks and Outdoor Recreation Fund.</p>
        <p>
          In addition, the Outdoor Equity Fund received $750,000 and remaining spillover funds were distributed in the following amounts:
        </p>
        <ul>
          <li>An additional $4.6 million to BEST (50%)</li>
          <li>$2.3 million to the Wildlife Cash Fund (25%)</li>
          <li>$2.3 million to the Parks & Outdoor Recreation Fund (25%)</li>
        </ul>
      </article>
    </div>
  </div>

  <div class="accordion">
    <a class="h3 trigger" href="#">Does any money go to the State Park system?</a>
    <div class="response">
      <p>Yes. Colorado Parks and Wildlife receives 10% of the Lottery's annual proceeds to distribute throughout their agency.</p>
    </div>
  </div>

  <div class="accordion">
    <a class="h3 trigger" href="#">Does money go to handicap-accessible parks and trails?</a>
    <div class="response">
      <p>There are many ADA-accessible parks and trails that have been funded with Lottery proceeds.  Check out <a href="https://trails.colorado.gov" target="_blank">https://trails.colorado.gov</a> for a site near you.</p>
    </div>
  </div>

  <div class="accordion">
    <a class="h3 trigger" href="#">Is someone available to come speak to our group about the Lottery and where the money goes?</a>
    <div class="response">
      <p>Yes! If you are interested in having someone speak to your group about the Lottery, please email our Proceeds Manager Adrian Varney @ <a href="mailto:Adrian.varney@state.co.us" target="_blank">Adrian.varney@state.co.us</a></p>
    </div>
  </div>

  <div class="accordion">
    <a class="h3 trigger" href="#">Can I get free Lottery tickets, water bottles, hats, etc. for my non-profit or social group?</a>
    <div class="response">
      <p>Unfortunately, no. The Lottery is a government agency, and we are not able to donate free items to many good causes such as yours. We do apologize. It is a rule that Lottery proceeds go to parks, trails, and the outdoors in Colorado. We have to make sure that any sponsored events or giveaways have a direct proceeds or Lottery retailer tie-in. As you can imagine, our inventory and budget is planned by the Department of Revenue in advance, and it is frequently audited. But we appreciate you thinking of us.</p>
    </div>
  </div>

  <div class="accordion">
    <a class="h3 trigger" href="#">Can I recommend a project to receive Lottery funding?</a>
    <div class="response">
      <p>The Colorado Lottery does not determine where proceeds funding goes. As funds are allocated via different agencies and to different local entities, it is advised that interested citizens contact their local municipalities to learn about the process for requesting projects. For example, if you are interested in pursuing a local park, please contact your local parks and recreation department. </p>
    </div>
  </div>

  <script>
    var allPanels = $('.accordion > .response').hide();

    $('.accordion .trigger').on('click', function(e){
      e.preventDefault();
      if ( $(this).hasClass('active') ) {
        allPanels.slideUp().siblings('.trigger').removeClass('active');
      }
      else {
        allPanels.slideUp().siblings('.trigger').removeClass('active');
        $(this).addClass('active');
        $(this).siblings('div.response').slideDown();
      }
    });
  </script>


  <h2 class="subtitle">More to Explore</h2>
  <div class="more-to-do">
    <a class="more-card" href="../explore/">
      <div class="more-card-image explore">
      </div>
      <div class="more-card-body">
        Explore the Map
      </div>
    </a>
    <a class="more-card" href="../virtual-reality/">
      <div class="more-card-image virtual-reality">
      </div>
      <div class="more-card-body">
        Experience 360&deg; VR
      </div>
    </a>
    <a class="more-card" href="../regions/">
      <div class="more-card-image projects"project-card>
      </div>
      <div class="more-card-body">
        See All Projects
      </div>
    </a>
    <a class="more-card" href="../faq/">
      <div class="more-card-image faq"project-card>
      </div>
      <div class="more-card-body">
        FAQ
      </div>
    </a>
  </div>

</article>
<script>
  $(".modal-trigger").on("click", function(e){ e.preventDefault(); $("#modalVideo").show().addClass("show"); });
  $(".modal-close").on("click", function(e){ e.preventDefault(); $("#modalVideo").hide().removeClass("show"); });
  $("input[name=sh-gb]").on("click", function(e){ $(".sh-response").fadeIn(); });
  $(".sh-response").hide();
</script>