---
layout: base.liquid
title: Southwest Region | Giving Back | Colorado Lottery
body_class: region
---
<header class="composite" data-bindable="header-scroll"><div class="header-inner"><div class="background-anim"><div class="layer-fg layer-scrolls" style="background-image: url(/assets/images/headers/southwest/sky.png)"><div class="layer-fg stars" style="background-image: url(/assets/images/headers/southwest/stars.png)"></div></div><div class="layer-fg layer-scrolls" style="background-image: url(/assets/images/headers/southwest/cave.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/assets/images/headers/southwest/buildings.png)"><div class="layer-fg lights" style="background-image: url(/assets/images/headers/southwest/lights-back.png)"></div><div class="layer-fg lights two" style="background-image: url(/assets/images/headers/southwest/lights-front.png)"></div></div><div class="layer-fg layer-scrolls" style="background-image: url(/assets/images/headers/southwest/fg.png)"></div></div><a class="btn blue" href="/giving-back/en/regions/index.html" id="top">BACK TO ALL REGIONS</a><div class="text"><h1>Southwest Region</h1></div></div>
</header>

<article>
  <h2 class="h3">Mesa Verde National Park Coordinates:<br/>37.2309°N, 108.4618°W</h2><p>Rich in Native American history, Southwest Colorado is an adventurer’s paradise. The jagged peaks of the San Juan range leave no doubt about how the Rocky Mountains got their name, and the land is dotted with small mining towns that provide basecamps to outdoor enthusiasts of all kinds.</p>
  <p><em>Counties in Southwest Region: Montrose, Ouray, San Miguel, Hinsdale, Dolores, San Juan, Montezuma, La Plata, Archuleta</em></p>

  <section class="featured-project-carousel">
    <a id="featured-project"></a>
    <h2>Explore our Southwest Projects</h2>

    <style>
      .project-image-southwest-1:before {
      	background-image: url('/assets/images/Ouray Ice Park.webp');
      }
      .project-image-southwest-2:before {
      	background-image: url('/assets/images/HorseGulch.webp');
      }
    </style>

    <div class="carousel-card-wrapper">
      <a id="project-carousel" name="project-carousel"></a>
      <button class="featured-prev carousel-prev" title="Previous Featured Project"><img src="/assets/images/icons/arrow-left.svg" alt="[Left Arrow]" /></button>
      <button class="featured-next carousel-next" title="Next Featured Project"><img src="/assets/images/icons/arrow-right.svg" alt="[Right Arrow]" /></button>
      <div class="carousel-cards" id="carousel-cards">
        <div class="project-card">
          <div class="project-card-image project-image-southwest-1">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Ouray Ice Park</span>
            <span>1 of 2</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-southwest-2">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Horse Gulch</span>
            <span>2 of 2</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-southwest-1">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Ouray Ice Park</span>
            <span>1 of 2</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-southwest-2">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Horse Gulch</span>
            <span>2 of 2</span>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-slides" id="carousel-slides">

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Ouray Ice Park
        </p>
        <p>
          The Ouray Ice Park transformed a once-sleepy mountain town into a winter sport mecca. Each December, the natural walls of the Uncompahgre River Gorge are transformed into 10-story walls of ice. A $193,000 Lottery-funded grant helped create the free public 24-acre park, which boasts more than 100 climbing routes nestled in the natural gorge. Whether you’re looking to enjoy a leisurely day of climbing with friends, trying out a new sport, or pushing yourself to new limits, the Ouray Ice Park is a place of breathtaking beauty and world-class outdoor recreation. The park also helps stimulate the local economy in wintertime as a unique ice climbing tourist destination.
        </p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/791278977?h=6bce19d947&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div></article>

        <article class="cards large" data-bindable="virtual-cards"><div class="card wrapped"><a class="vr-overlay" title="Start VR Video" href="/giving-back/en/vr/index.html#!ouray"><img alt="Start VR Video" src="/assets/images/ouray.webp" width="100%" /></a><a class="btn" href="/giving-back/en/vr/index.html#!ouray">Go Ice Climbing in VR</a></div></article>

        <p>
          The Colorado Lottery is helping fund this magnificent ice park so that Colorado can still have this iconic attraction for years to come. <a href="http://www.ourayicepark.com/" target="_blank">Visit ourayicepark.com</a> for more information about the park.
        </p>

        <p class="project-lead">
          <a href="#" class="project-next">NEXT PROJECT: Horse Gulch</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Horse Gulch
        </p>

        <p>
          Horse Gulch, sometimes called Durango’s Central Park, is a dreamscape for hikers, bicyclists, athletes in training, equestrians, runners, and commuters. Nearly $1.7 million in Lottery proceeds helped fund the Horse Gulch acquisition and preservation project which helped preserve 223 acres of open space. The area rises from an open meadow to a ridge with technical trails for advanced mountain bikers. Durango offers 300 miles of trails within 30 minutes of its downtown area.
        </p>

        <article class="image-container"><div class="wrapped"><img src="/assets/images/HorseGulch.webp" alt=" Horse Gulch" /></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">BACK TO: Ouray Ice Park</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Ouray Ice Park
        </p>
        <p>
          The Ouray Ice Park transformed a once-sleepy mountain town into a winter sport mecca. Each December, the natural walls of the Uncompahgre River Gorge are transformed into 10-story walls of ice. A $193,000 Lottery-funded grant helped create the free public 24-acre park, which boasts more than 100 climbing routes nestled in the natural gorge. Whether you’re looking to enjoy a leisurely day of climbing with friends, trying out a new sport, or pushing yourself to new limits, the Ouray Ice Park is a place of breathtaking beauty and world-class outdoor recreation. The park also helps stimulate the local economy in wintertime as a unique ice climbing tourist destination.
        </p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/791278977?h=6bce19d947&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div></article>

        <article class="cards large" data-bindable="virtual-cards"><div class="card wrapped"><a class="vr-overlay" title="Start VR Video" href="/giving-back/en/vr/index.html#!ouray"><img alt="Start VR Video" src="/assets/images/ouray.webp" width="100%" /></a><a class="btn" href="/giving-back/en/vr/index.html#!ouray">Go Ice Climbing in VR</a></div></article>

        <p>
          The Colorado Lottery is helping fund this magnificent ice park so that Colorado can still have this iconic attraction for years to come. <a href="http://www.ourayicepark.com/" target="_blank">Visit ourayicepark.com</a> for more information about the park.
        </p>

        <p class="project-lead">
          <a href="#" class="project-next">NEXT PROJECT: Horse Gulch</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Horse Gulch
        </p>

        <p>
          Horse Gulch, sometimes called Durango’s Central Park, is a dreamscape for hikers, bicyclists, athletes in training, equestrians, runners, and commuters. Nearly $1.7 million in Lottery proceeds helped fund the Horse Gulch acquisition and preservation project which helped preserve 223 acres of open space. The area rises from an open meadow to a ridge with technical trails for advanced mountain bikers. Durango offers 300 miles of trails within 30 minutes of its downtown area.
        </p>

        <article class="image-container"><div class="wrapped"><img src="/assets/images/HorseGulch.webp" alt=" Horse Gulch" /></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">BACK TO: Ouray Ice Park</a>
        </p>
      </div>

    </div>

    <script>
    $('.carousel-slides').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      infinite: true,
      adaptiveHeight: true,
      focusOnSelect: true,
      asNavFor: '.carousel-cards'
    });
    $('.carousel-cards').slick({
      asNavFor: '.carousel-slides',
      prevArrow: '.featured-prev',
      nextArrow: '.featured-next',
      dots: false,
      focusOnSelect: true,
      centerMode: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      infinite: true,
      swipeToSlide: true,
      responsive: [
        {
          breakpoint: 840,
          settings: {
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.project-next').on('click', function(e){
      e.preventDefault();
      document.getElementById("carousel-cards").scrollIntoView({behavior: "smooth"});
      $('.carousel-cards').slick('slickNext');
    });
    </script>
  </section>

  <header class="regional-slideshow">
    <a id="project-list"></a>
    <div class="regional-project-slides">
      <div class="regional-project-slide" style="background-image: url('/assets/images/southwest-slider-1.jpg');"></div>
      <div class="regional-project-slide" style="background-image: url('/assets/images/southwest-slider-2.jpg');"></div>
      <div class="regional-project-slide" style="background-image: url('/assets/images/southwest-slider-3.jpg');"></div>
    </div>
    <script>
    $('.regional-project-slides').slick({
      autoplay: true,
      arrows: false,
      dots: false,
      speed: 500,
      autoplaySpeed: 2000,
      fade: true,
      cssEase: 'linear',
      pauseOnHover: false
    });
    </script>
    <h2>Regional Projects</h2>
    <p class="h4">Information at a glance</p>
    <article class="cards">
      <div class="card"><p class="h5">Total Investment to Date</p><p class="h3">$105,762,523</p></div>
      <div class="card"><p class="h5">Total Acres Conserved to Date</p><p class="h3">85,413</p></div>
      <div class="card"><p class="h5">Total Grants Awarded to Date</p><p class="h3">376</p></div>
    </article>
  </header>
  <article class="data-sheet" data-bindable="data-sheet" data-region="southwest"></article>
  <a class="region-article mountain" href="/giving-back/en/mountain-region/index.html">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Next Project</p>
      <h1>Mountain Region</h1>
      <div class="btn">Explore <span>the Mountain Region</span></div>
    </div>
  </a>
</article>