---
layout: base.liquid
title: Southern Region | Giving Back | Colorado Lottery
meta_description: In 39 years, the Colorado Lottery has given $4 Billion back to Colorado. See all of the places here in the Southern Region that proceeds from the Colorado Lottery are helping to make possible.
body_class: region
---
<header class="composite" data-bindable="header-scroll"><div class="header-inner"><div class="background-anim"><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/southern/sky.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/southern/mountains.png)"></div><div class="layer-fg layer-scrolls layer-dune-wind" style="background-image: url(/giving-back/assets/images/headers/southern/dune-wind.png)"><div class="layer-fg" style="background-image: url(/giving-back/assets/images/headers/southern/dunes.png)"></div></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/southern/fg.png)"></div></div><a class="btn blue" href="/giving-back/en/regions/" id="top">BACK TO ALL REGIONS</a><div class="text"><h1>Southern Region</h1></div></div></header>

<article>
  <h2 class="h3">Great Sand Dunes National Park Coordinates:<br/>37.7916°N, 105.5943°W</h2>
  <p>Known for its expansive valleys and arid climate, Southern Colorado encapsulates the spirit of the West. Even today as you look across the landscape, it’s all too easy to picture early American settlers crossing the harsh terrain, looking for their chance to strike it rich finding gold.</p>
  <p><em>Counties in Southern egion: Pueblo, Saguache, Mineral, Rio Grande, Alamosa, Huerfano, Conejos, Costilla, Las Animas</em></p>

  <section class="featured-project-carousel">
    <a id="featured-project"></a>
    <h2>Explore our Southern Projects</h2>

    <style>
      .project-image-southern-1:before {
      	background-image: url('/giving-back/assets/images/FishersPeakSP.webp');
      }
      .project-image-southern-2:before {
      	background-image: url('/giving-back/assets/images/mustang.webp');
      }
      .project-image-southern-3:before {
      	background-image: url('/giving-back/assets/images/arkansas-river-cleanup.webp');
      }
      .project-image-southern-4:before {
      	background-image: url('/giving-back/assets/images/alamosa-riparian-park.webp');
      }
    </style>

    <div class="carousel-card-wrapper">
      <a id="project-carousel" name="project-carousel"></a>
      <button class="featured-prev carousel-prev" title="Previous Featured Project"><img src="/giving-back/assets/images/icons/arrow-left.svg" alt="[Left Arrow]" /></button>
      <button class="featured-next carousel-next" title="Next Featured Project"><img src="/giving-back/assets/images/icons/arrow-right.svg" alt="[Right Arrow]" /></button>
      <div class="carousel-cards" id="carousel-cards">
        <div class="project-card">
          <div class="project-card-image project-image-southern-2">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Kim Mustang Pavilion</span>
            <span>1 of 4</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-southern-1">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Crazy French Ranch / Fishers Peak State Park</span>
            <span>2 of 4</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-southern-3">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Arkansas River Cleanup&mdash;Annual Runyon to the Res Event</span>
            <span>3 of 4</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-southern-4">
          </div>
          <div class="project-card-body">
            <span class="project-feature">FEATURED PROJECT</span>
            <span class="project-name">Alamosa Riparian Park</span>
            <span>4 of 4</span>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-slides" id="carousel-slides">

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Kim Mustang Pavilion
        </p>

        <p>
          Kim, Colorado is one of the few remaining true ranching communities left in Colorado, so it made sense to honor their rich rodeo heritage while boosting the local economy. The Mustang Pavilion, which utilized $1.1 million in Lottery proceeds, not only preserves Kim’s ranching culture and heritage but showcases and enhances it, but simultaneously brings much-needed revenue to help the community thrive. The pavilion, which is run completely by volunteers and hosts about 100 events each year, sits on 20 acres and is a treasured part of the community.</p>

          <article class="cards large" data-bindable="virtual-cards"><div class="card wrapped"><a class="vr-overlay" title="Start VR Video" href="/giving-back/en/vr/index.html#!mustang"><img alt="Start VR Video" src="/giving-back/assets/images/mustang.webp" width="100%" /></a><a class="btn" href="/giving-back/en/vr/index.html#!mustang">See Mustang Pavilion in VR</a></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">NEXT PROJECT: Crazy French Ranch / Fishers Peak State Park</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Crazy French Ranch / Fishers Peak State Park
        </p>

        <p>
          Crazy French Ranch used to be privately owned, but today we can all enjoy it under its new name, Fisher Peak State Park. With more than $17 million in Lottery proceeds invested in the project, the stunning 19,200-acre property serves as a gateway to recreation in Colorado.
        </p>

        <p>
          The Trust for Public Land, in partnership with the City of Trinidad and The Nature Conservancy used its <a href="https://www.goco.org/" target="_blank">GOCO</a> grants to help Colorado Parks and Wildlife acquire the Crazy French Ranch property, which includes the 9,633-foot summit of Fishers Peak. The project is a culmination of a two-phase purchase and provides the opportunity to serve as a model for future state parks - one that reflects a unique and synergistic blend of resource conservation, recreation, education, economic benefit, and cultural significance to the City of Trinidad and state of Colorado.
        </p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/791279455?h=662268f0b5&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>
          Portions of Fisher’s Peak State Park are now officially open to the public. For now, the park offers a drive-in picnic area for visitors who want an easily accessible, scenic spot for a bite and 13 miles of trails for hikers or mountain bikes, all stemming from the Fishers Peak Trailhead. <a href="https://cpw.state.co.us/placestogo/parks/FishersPeak" target="_blank">Visit the park’s website</a> to stay in the loop as more of the park opens and to make plans for your trip to Colorado’s 42nd state park.
        </p>

        <p class="project-lead">
          <a href="#" class="project-next">NEXT PROJECT: Arkansas River Cleanup&mdash;Annual Runyon to the Res Event</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Arkansas River Cleanup&mdash;Annual Runyon to the Res Event
        </p>

        <p>The Lottery not only distributes funds throughout the state, we also get our hands dirty. Every October during Conservation Month, the Colorado Lottery hosts a conservation and stewardship event in Pueblo, where the Lottery’s headquarters are located. The annual Runyon to the Res event brings dozens of staff and volunteers together to clean up thousands of pounds of trash along a heavily used 7.5 mile stretch of the Arkansas River river where people run, bike, fish and otherwise enjoy the outdoors.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/Zl3fTCICzXk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>The Arkansas River Trail begins in the heart of Pueblo and heads westward along the river to Lake Pueblo State Park. It is part of the Pueblo River Trails System, which spans more than two dozen miles throughout the city. Watch the video to learn more about the Colorado Lottery’s annual Runyon to the Res event.</p>


        <p class="project-lead">
          <a href="#" class="project-next">NEXT PROJECT: Alamosa Riparian Park</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Alamosa Riparian Park
        </p>

        <p>Completed in 2018, Alamosa Riparian Park is the result of a collaborative project that elevated community priorities around recreation, conservation, and wellness.</p>

        <p>Western Rivers Conservancy (WRC), the City of Alamosa, and a long list of partners worked together to add the pristine, 203-acre riverfront park to the city’s open space offerings and conserve a mile of the Rio Grande. The park created new opportunities for recreation along the river banks and protected a valuable stretch of wildlife habitat.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/791279368?h=ae823d9132&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>Located just northwest of Alamosa, the park serves as an upstream anchor for the city’s growing network of pedestrian and bike trails, adding more than five miles of new trails on the property itself. To make the park a reality, WRC purchased adjacent properties in 2018 from two families that shared the community’s vision to create public open space along the river and keep the land undeveloped. <a href="https://www.westernrivers.org/projects/co/rio-grande-alamosa-riparian-park" target="_blank">Read more about Alamosa Riperian Park at the Western Rivers Conservancy website</a>.</p>


        <p class="project-lead">
          <a href="#" class="project-next">BACK TO: Kim Mustang Pavilion</a>
        </p>
      </div>

    </div>

    <script>
    $('.carousel-slides').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      adaptiveHeight: true,
      focusOnSelect: true,
      asNavFor: '.carousel-cards'
    });
    $('.carousel-cards').slick({
      asNavFor: '.carousel-slides',
      prevArrow: '.featured-prev',
      nextArrow: '.featured-next',
      dots: false,
      focusOnSelect: true,
      centerMode: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      infinite: true,
      swipeToSlide: true,
      responsive: [
        {
          breakpoint: 840,
          settings: {
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.project-next').on('click', function(e){
      e.preventDefault();
      document.getElementById("carousel-cards").scrollIntoView({behavior: "smooth"});
      $('.carousel-cards').slick('slickNext');
    });
    </script>
  </section>

  <header class="regional-slideshow">
    <a id="project-list"></a>
    <div class="regional-project-slides">
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets/images/southern-slider-1.jpg');"></div>
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets/images/southern-slider-2.jpg');"></div>
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets/images/southern-slider-3.jpg');"></div>
    </div>
    <script>
    $('.regional-project-slides').slick({
      autoplay: true,
      arrows: false,
      dots: false,
      speed: 500,
      autoplaySpeed: 2000,
      fade: true,
      cssEase: 'linear',
      pauseOnHover: false
    });
    </script>
    <h2>Regional Projects</h2>
    <p class="h4">Information at a glance</p>
    <article class="cards">
      <div class="card"><p class="h5">Total Investment to Date</p><p class="h3">$165,693,508</p></div>
      <div class="card"><p class="h5">Total Acres Conserved to Date</p><p class="h3">332,096</p></div>
      <div class="card"><p class="h5">Total Grants Awarded to Date</p><p class="h3">414</p></div>
    </article>
  </header>
  <article class="data-sheet" data-bindable="data-sheet" data-region="southern"></article>
  <a class="region-article eastern" href="/giving-back/en/eastern-region/index.html">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Next Project</p>
      <h1>Eastern Region</h1>
      <div class="btn">Explore <span>the Eastern Region</span></div>
    </div>
  </a>
</article>