---
layout: base_es.liquid
title: Región Montañosa | Retribuciones | Colorado Lottery
meta_description: En 39 años, Colorado Lottery ha devuelto $4 mil millones a Colorado. Vea todos los lugares en la Región Montañosa que son posibles gracias a los fondos de Colorado Lottery.
body_class: region
---
<header class="composite" data-bindable="header-scroll"><div class="header-inner"><div class="background-anim"><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/mountain/sky.png)"></div><div class="layer-fg layer-scrolls layer-clouds" style="background-image: url(/giving-back/assets/images/headers/mountain/clouds.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/mountain/cliffs.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/mountain/fg.png)"><div class="moose-outer"><div class="layer-fg layer-moose" style="background-image: url(/giving-back/assets/images/headers/mountain/moose.png)"></div></div></div></div><a class="btn blue" href="/giving-back/es/regions/" id="top">VOLVER A TODAS LAS REGIONES</a><div class="text"><h1>Región Montañosa</h1></div></div>
</header>

<article>
  <h2 class="h3">Coordenadas de Maroon Bells:<br/>39.0708°N, 106.9890°W</h2>
  <p>El corazón de las Montañas Rocallosas de Colorado es un lugar inigualable. Si está caminando, escalando, haciendo rafting, esquiando o simplemente paseando en auto, se maravillará al contemplar los brillantes lagos azules y los enormes picos grises, blancos y verdes.</p>
  <p><em>Condados que forman parte de la Región Montañosa: Grand, Chaffee, Pitkin, Park, Routt, Jackson, Eagle, Fremont, Summit, Gilpin, Lake, Clear Creek, Teller, Custer</em></p>

  <section class="featured-project-carousel">
    <a id="featured-project"></a>
    <h2>Explore nuestros proyectos en la Región Montañosa</h2>

    <style>
      .project-image-mountain-1:before {
      	background-image: url('/giving-back/assets//images/Howelsen Hill.webp');
      }
      .project-image-mountain-2:before {
      	background-image: url('/giving-back/assets//images/Town of Breckenridge - River Park.webp');
      }
      .project-image-mountain-3:before {
      	background-image: url('/giving-back/assets//images/peaks to plains.webp');
      }
      .project-image-mountain-4:before {
      	background-image: url('/giving-back/assets/images/Hanging Lake.webp');
      }
      .project-image-mountain-4:before {
      	background-image: url('/giving-back/assets/images/Crown Mountain Bike Park.webp');
      }
    </style>

    <div class="carousel-card-wrapper">
      <a id="project-carousel" name="project-carousel"></a>
      <button class="featured-prev carousel-prev" title="Proyecto Destacado Anterior"><img src="/giving-back/assets//images/icons/arrow-left.svg" alt="[Left Arrow]" /></button>
      <button class="featured-next carousel-next" title="Próximo Proyecto Destacado"><img src="/giving-back/assets//images/icons/arrow-right.svg" alt="[Right Arrow]" /></button>
      <div class="carousel-cards" id="carousel-cards">
        <div class="project-card">
          <div class="project-card-image project-image-mountain-1">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Howelsen Hill</span>
            <span>1 de 5</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-mountain-2">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">River Park en Breckenridge</span>
            <span>2 de 5</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-mountain-3">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Peaks to Plains Trail</span>
            <span>3 de 5</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-mountain-4">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Hanging Lake</span>
            <span>4 de 5</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-mountain-5">
          </div>
          <div class="project-card-body">
            <span class="notification">NUEVO</span>
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Crown Mountain Bike Park</span>
            <span>5 de 5</span>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-slides" id="carousel-slides">

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Howelsen Hill
        </p>
        <p>
          El centro de esquí Howelsen Hill pertenece a la ciudad de Steamboat Springs, la que también se encarga de la operación del mismo. Este centro ocupa un lugar único en la historia de este deporte. El complejo incluye pistas de rodeo, una pista de patinaje sobre hielo, parques todo terreno y uno de los centros de entrenamiento alpino más grandes de Norteamérica. El complejo le debe parte de lo que es hoy al aporte de más de $1 millón realizado por la Lotería. Howelsen Hill es el centro de esquí más antiguo de Colorado que viene funcionando ininterrumpidamente desde 1915. Además, posee el complejo natural de salto de esquí más grande y completo de Norteamérica. Howelsen fue la pista de entrenamiento de unos 90 atletas olímpicos con más de 150 presentaciones en las Olimpiadas de Invierno, 22 miembros del Salón de la Fama del Esquí de Colorado y 13 miembros del Salón de la Fama del Esquí Nacional.
        </p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Vimeo Video" src="https://player.vimeo.com/video/848160367?h=4a3d69fac1&color=0F1E8C&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div></article>

        <article class="cards large" data-bindable="virtual-cards" style="perspective: 500px;"><div class="card wrapped"><a class="vr-overlay" title="Reproducir video de RV" href="/giving-back/es/vr/#!skiing"><img alt="Reproducir video de RV" src="/giving-back/assets//images/cards/mountain-large.jpg" width="100%"></a><a class="btn" href="/giving-back/es/vr/#!skiing">Salto en esquí en Howelsen en RV</a></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: River Park en Breckenridge</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          River Park en Breckenridge
        </p>

        <p>
          El River Park en Breckenridge es un oasis local que conecta las viviendas de los trabajadores de la zona con el Centro Recreativo Breckenridge y varias escuelas. Si bien Breckenridge tiene una población de 4700 habitantes, recibe más de tres millones de visitantes al año, transformando a River Park en una joya del vecindario y en un lugar de destino obligado. La Lotería realizó dos subvenciones distintas por un total de $700,000 que se utilizaron para crear el parque. El área de juegos conjuga características, paisajes y vegetación natural, brindando a los niños fácil acceso a la naturaleza y al aire libre. El parque infantil está ingeniosamente diseñado con artesanías talladas en madera, estructuras basadas en la naturaleza y torres para escalar que se pueden ver desde la Autopista 9. El parque también dispone de merenderos, una pérgola, baños y lugares de desembarque de pesca que cumplen con las normas de diseño accesibles conforme a la Ley de Americanos con Discapacidad (ADA) Un nuevo puente para ciclistas y peatones conecta un sendero recreativo por el que transitan 20,000 usuarios en la temporada de verano solamente. Gracias al proyecto River Park, Breckenridge obtuvo el Premio Starburst 2019 por la excelencia demostrada en el uso de fondos de la Lotería.
        </p>

        <article class="image-container"><div class="wrapped"><img src="/giving-back/assets//images/Town of Breckenridge - River Park.webp" alt="River Park in Breckenridge" /></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Peaks to Plains Trail</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Peaks to Plains Trail
        </p>

        <p>
          Desde 2012, GOCO ha invertido más de USD 9 millones de los ingresos de la Lotería en la finalización del segmento Clear Creek Canyon del <a href="https://youtu.be/wyJEGj-SD3M" target="_blank">Peaks to Plains Trail</a>, un proyecto de sendero heredado que ofrecerá a los visitantes una experiencia muy característica de Colorado como destino recreativo de clase mundial. El proyecto del Peaks to Plains Trail is consiste en un sendero de 65 millas de importancia estatal que conectará el Sendero South Platte en Denver con la cabecera de Clear Creek en Loveland Pass. Una vez que se complete, conectará cuatro condados y siete ciudades, con un desnivel total de más de 1 milla.
        </p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/c-WtgE812PQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Hanging Lake</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Hanging Lake
        </p>

        <p><a href="https://visitglenwood.com/hanginglake/" target="_blank">Hanging Lake</a> es uno de los destinos de senderismo y cascadas más apreciados de Colorado. Una empinada subida de 1.2 millas conduce a un oasis sereno donde las cascadas se precipitan en un impresionante lago azul verdoso, lo que lo convierte en un lugar imprescindible para los amantes de la naturaleza.</p>
        <p>Los últimos cuatro años han sido difíciles para Hanging Lake. En 2020, el incendio de Grizzly Creek devastó 33,000 acres en las áreas circundantes y las posteriores inundaciones provocaron cierres intermitentes, limitando severamente el acceso del público.</p>
        <p>Ahora, gracias al apoyo de la Lotería de Colorado y sus socios, Hanging Lake recibirá una restauración de $4.5 millones. Las mejoras clave incluyen:</p>
        <ul>
          <li>Reemplazar puentes para garantizar un paso seguro</li>
          <li>Agregar una pasarela para proteger el delicado ecosistema</li>
          <li>Reconstruir secciones del sendero para mejorar la experiencia de senderismo</li>
          <li>Implementar medidas para proteger el bosque circundante</li>
        </ul>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/twShx5JVy0E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>La restauración y mejora del sendero aseguran que este tesoro natural siga siendo accesible, seguro y sostenible para que las futuras generaciones lo disfruten. Se espera que el proyecto esté completado en el otoño de 2024.</p>
        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Crown Mountain Bike Park</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Crown Mountain Bike Park
        </p>

        <p>El nuevo <a href="https://crownmtn.org/" target="_blank">Crown Mountain Bike Park</a> en El Jebel, que cuenta con más de 10 pistas diferentes para todos los niveles de experiencia, fue un proyecto ambicioso que transformó un espacio subutilizado en un parque para bicicletas de categoría mundial. El Crown Mountain Park & Recreation District se comprometió a construir un parque para bicicletas, revitalizar el terreno y transformarlo en un espacio que pudieran utilizar miles de personas. Este servicio comunitario, accesible y multigeneracional ofrece durante todo el año oportunidades importantes de salud y ocio que eliminan las barreras al ciclismo gracias al acceso gratuito a equipos e instalaciones. Esta ampliación del parque de ciclismo refuerza la calificación “Gold Level” del Centro de ciclismo durante futuras evaluaciones y, al mismo tiempo, crea un lugar para que nuestra generación más joven aprenda, se practique y se beneficie de una variedad de aspectos de la cultura ciclista en un entorno seguro.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/dAmFA8thuAQ?si=q6qrGae4CU5OgPsg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p>A través de sus socios beneficiarios, Great Outdoors Colorado y el Conservation Trust Fund, Colorado Lottery ha contribuٳdo con casi $240,000 a este proyecto.</p>

        <p class="project-lead">
          <a href="#" class="project-next">VOLVER A: Howelsen Hill</a>
        </p>
      </div>


    </div>

    <script>
    $('.carousel-slides').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      adaptiveHeight: true,
      focusOnSelect: true,
      initialSlide: 4,
      asNavFor: '.carousel-cards'
    });
    $('.carousel-cards').slick({
      asNavFor: '.carousel-slides',
      prevArrow: '.featured-prev',
      nextArrow: '.featured-next',
      dots: false,
      focusOnSelect: true,
      centerMode: false,
      slidesToShow: 2,
      slidesToScroll: 1,
      infinite: true,
      swipeToSlide: true,
      initialSlide: 4,
      responsive: [
        {
          breakpoint: 840,
          settings: {
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.project-next').on('click', function(e){
      e.preventDefault();
      document.getElementById("carousel-cards").scrollIntoView({behavior: "smooth"});
      $('.carousel-cards').slick('slickNext');
    });
    </script>
  </section>

  <header class="regional-slideshow">
    <a id="project-list"></a>
    <div class="regional-project-slides">
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets//images/mountain-slider-1.jpg');"></div>
    </div>
    <h2>Proyectos Regionales</h2>
    <p class="h4">Información resumida</p>
    <article class="cards">
      <div class="card"><p class="h5">Total invertido a la fecha</p><p class="h3">$278,841,746</p></div>
      <div class="card"><p class="h5">Superficie total conservada a la fecha</p><p class="h3">169,126 acres</p></div>
      <div class="card"><p class="h5">Total de subvenciones adjudicadas a la fecha</p><p class="h3">925</p></div>
    </article>
  </header>
  <article class="data-sheet" data-bindable="data-sheet" data-region="mountain"></article>
  <a class="region-article northern-front-range" href="/giving-back/es/northern-front-range-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Próximo Proyecto</p>
      <h1>Región de la Cordillera Frontal Norte</h1>
      <div class="btn">Explore <span>la Región de la Cordillera Frontal Norte</span></div>
    </div>
  </a>
</article>