---
layout: base.liquid
title: VR | Giving Back | Colorado Lottery
body_class: virtual-reality
---

<header>
  <h1>Experience Colorado in 360&nbsp;VR</h1>
  <article class="cards" data-bindable="virtual-cards">
    <div class="card">
      <a class="vr-overlay" title="Start VR Video: Ski Jump Howelson" href="/giving-back/en/vr/#!skiing">
        <img alt="Start VR Video: Ski Jump Howelson" height="266" src="/giving-back/assets/images/cards/mountain.jpg" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/en/vr/#!skiing">Ski Jump Howelson</a>
    </div>
    <div class="card">
      <a class="vr-overlay" title="Start VR Video: Bike Fruita" href="/giving-back/en/vr/#!biking">
        <img alt="Start VR Video: Bike Fruita" height="266" src="/giving-back/assets/images/cards/western-slope.jpg" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/en/vr/#!biking">Bike Fruita</a>
    </div>
    <div class="card">
      <a class="vr-overlay" title="Start VR Video: Climb Eldorado" href="/giving-back/en/vr/#!climbing">
        <img alt="Start VR Video: Climb Eldorado" height="266" src="/giving-back/assets/images/cards/northern-front-range.jpg" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/en/vr/#!climbing">Climb Eldorado</a>
    </div>
    <div class="card">

      <a class="vr-overlay" title="Start VR Video: Mustang Pavilion" href="/giving-back/en/vr/#!mustang">
        <img alt="Start VR Video: Mustang Pavilion" height="266" src="/giving-back/assets/images/mustang.webp" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/en/vr/#!mustang">Mustang Pavilion</a>
    </div>
    <div class="card">

      <a class="vr-overlay" title="Start VR Video: Ice Climb Ouray" href="/giving-back/en/vr/#!ouray">
        <img alt="Start VR Video: Ice Climb Ouray" height="266" src="/giving-back/assets/images/ouray-square.webp" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/en/vr/#!ouray">Ice Climb Ouray</a>
    </div>
  </article>
  <article class="vr-error">
    <div>
      <p>Internet explorer does not currently support VR videos. If you would like to try the experience, we would recommend using Google Chrome or Firefox.</p>
      <div>
        <a class="btn rounded" href="https://www.google.com/chrome/">Get Google Chrome</a>
        <a class="btn rounded" href="https://www.mozilla.org/firefox/new/">Get Firefox</a>
      </div>
    </div>
  </article>
</header>
<article>
  <p>Thanks to our players, the Lottery has invested billions in parks, trails, and open spaces since the very first ticket was sold in 1983. Every ticket you buy helps preserve Colorado’s iconic landscapes, build community spaces, and ensure future generations can experience the same awe-inspiring views and adventures. Together, we’re not just playing a game—we’re investing in the heart of what makes Colorado home.</p>
  <p>Gear up, head out and experience some of the most thrilling proceeds destinations in 360 VR right where you're at. Want to just have a fun time? <a href="/giving-back/en/vr/#!game">Play the Proceeds minigame</a>.</p>
  </p>
</article>

<script>
  $(".modal-trigger").on("click", function(e){ e.preventDefault(); $("#modalVideo").show().addClass("show").attr("aria-hidden","false"); });
  $(".modal-close").on("click", function(e){ e.preventDefault(); $("#modalVideo").hide().removeClass("show").attr("aria-hidden","true"); });
</script>