---
layout: base.liquid
title: Projects | Giving Back | Colorado Lottery
body_class: projects
---

<article>
  <a class="region-article western-slope" href="/giving-back/en/western-slope-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Experience in 360 VR</p>
      <h1>Western Slope Region</h1>
      <div class="btn">Explore <span>the Western Slope</span><span class="notification">2</span></div>
    </div>
  </a>
  <a class="region-article southwest" href="/giving-back/en/southwest-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">&nbsp</p>
      <h1>Southwest Region</h1>
      <div class="btn">Explore <span>the Southwest Region</span></div>
    </div>
  </a>
  <a class="region-article mountain" href="/giving-back/en/mountain-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Experience in 360 VR</p>
      <h1>Mountain Region</h1>
      <div class="btn">Explore <span>the Mountain Region</span><span class="notification">1</span></div>
    </div>
  </a>
  <a class="region-article northern-front-range" href="/giving-back/en/northern-front-range-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Experience in 360 VR</p>
      <h1>Northern Front Range Region</h1>
      <div class="btn">Explore <span>the Northern Front Range</span><span class="notification">3</span></div>
    </div>
  </a>
  <a class="region-article front-range" href="/giving-back/en/front-range-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">&nbsp</p>
      <h1>Front Range Region</h1>
      <div class="btn">Explore <span>the Front Range</span><span class="notification">3</span></div>
    </div>
  </a>
  <a class="region-article southern" href="/giving-back/en/southern-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">&nbsp</p>
      <h1>Southern Region</h1>
      <div class="btn">Explore <span>the Southern Region</span></div>
    </div>
  </a>
  <a class="region-article eastern" href="/giving-back/en/eastern-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">&nbsp</p>
      <h1>Eastern Region</h1>
      <div class="btn">Explore <span>the Eastern Region</span><span class="notification">1</span></div>
    </div>
  </a>
</article>