---
layout: base_es.liquid
title: Projectos | Retribuciones | Colorado Lottery
body_class: projects
---

<article>
  <a class="region-article western-slope" href="/giving-back/es/western-slope-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Viva una experiencia de RV en 360&deg;</p>
      <h1>Región de la Ladera Occidental</h1>
      <div class="btn">Explore <span>la Región de la Ladera Occidental</span></div>
    </div>
  </a>
  <a class="region-article southwest" href="/giving-back/es/southwest-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">&nbsp</p>
      <h1>Región Sudoeste</h1>
      <div class="btn">Explore <span>la Región Sudoeste</span><span class="notification">1</span></div>
    </div>
  </a>
  <a class="region-article mountain" href="/giving-back/es/mountain-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Viva una experiencia de RV en 360&deg;</p>
      <h1>Región Montañosa</h1>
      <div class="btn">Explore <span>la Región Montañosa</span><span class="notification">1</span></div>
    </div>
  </a>
  <a class="region-article northern-front-range" href="/giving-back/es/northern-front-range-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">Viva una experiencia de RV en 360&deg;</p>
      <h1>Región de la Cordillera Frontal</h1>
      <div class="btn">Explore <span>la Región de la Cordillera Frontal Norte</span></div>
    </div>
  </a>
  <a class="region-article front-range" href="/giving-back/es/front-range-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">&nbsp</p>
      <h1>Región de la Cordillera Frontal</h1>
      <div class="btn">Explore <span>la Front Range</span></div>
    </div>
  </a>
  <a class="region-article southern" href="/giving-back/es/southern-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">&nbsp</p>
      <h1>Región Sur</h1>
      <div class="btn">Explore <span>la Región Sur</span></div>
    </div>
  </a>
  <a class="region-article eastern" href="/giving-back/es/eastern-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">&nbsp</p>
      <h1>Región Este</h1>
      <div class="btn">Explore <span>la Región Este</span></div>
    </div>
  </a>
</article>