---
layout: base_es.liquid
title: Retribuciones | Colorado Lottery
---
<header>
  <h1>Con su apoyo, hace que Colorado sea posible</h1>
</header>
<article>
  <p>
    Colorado Lottery retribuye millones de dólares al año a parques, senderos, piscinas, espacios abiertos y escuelas de todo el estado. Todos esos lugares son elegidos por los residentes del estado para pasear y divertirse. Los aportes de la Lotería se destinan al apoyo de proyectos grandes y pequeños en cada condado de Colorado. Eche un vistazo a los proyectos financiados por la Lotería en su región.
  </p>
  <p>
    <a class="modal-trigger" href="/giving-back/es/#modalVideo"><span class="play-icon">&#9654;</span>Conozca la diversión que financia la Lotería</a>
    <style>
      .project-card-image.project1:before {
      	background-image: url('/giving-back/assets/images/prospect-park.webp');
      }
      .project-card-image.project2:before {
      	background-image: url('/giving-back/assets/images/evergreen-lake.webp');
      }
      .project-card-image.project3:before {
      	background-image: url('/giving-back/assets/images/panorama park.webp');
      }
      .project-card-image.project4:before {
      	background-image: url('/giving-back/assets/images/jackson lake.webp');
      }
      .project-card-image.project5:before {
      	background-image: url('/giving-back/assets/images/peaks to plains.webp');
      }
      .project-card-image.project6:before {
      	background-image: url('/giving-back/assets/images/big thompson.webp');
      }
      .project-card-image.project7:before {
      	background-image: url('/giving-back/assets/images/lory state park.webp');
      }
      .project-card-image.project8:before {
      	background-image: url('/giving-back/assets/images/poudre river.webp');
      }
      .project-card-image.project9:before {
      	background-image: url('/giving-back/assets/images/palisade plunge.webp');
      }
      .project-card-image.project10:before {
      	background-image: url('/giving-back/assets/images/steamboat lake.webp');
      }
    </style>
  <div class="featured-projects">
    <h2>Proyectos Destacados</h2>

    <a class="project-card" href="/giving-back/es/front-range-region/">
      <div class="project-card-image project1">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN DE LA CORDILLERA FRONTAL</span>
        <span class="project-name">Prospect Park</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/front-range-region/">
      <div class="project-card-image project2">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN DE LA CORDILLERA FRONTAL</span>
        <span class="project-name">Evergreen Lake</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/front-range-region/">
      <div class="project-card-image project3">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN DE LA CORDILLERA FRONTAL</span>
        <span class="project-name">Panorama Park</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/eastern-region/">
      <div class="project-card-image project4">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN ESTE</span>
        <span class="project-name">Jackson Lake State Park</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/mountain-region/">
      <div class="project-card-image project5">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN MONTAÑOSA</span>
        <span class="project-name">Peaks to Plains Trail</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/northern-front-range-region/">
      <div class="project-card-image project6">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN DE LA CORDILLERA FRONTAL NORTE</span>
        <span class="project-name">Big Thompson Recreation Area</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/northern-front-range-region/">
      <div class="project-card-image project7">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN DE LA CORDILLERA FRONTAL NORTE</span>
        <span class="project-name">Lory State Park Soldier Canyon Picnic Area</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/northern-front-range-region/">
      <div class="project-card-image project8">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN DE LA CORDILLERA FRONTAL NORTE</span>
        <span class="project-name">Poudre River Trail</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/western-slope-region/">
      <div class="project-card-image project9">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN DE LA LADERA OCCIDENTAL</span>
        <span class="project-name">Palisade Plunge</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/western-slope-region/">
      <div class="project-card-image project10">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN DE LA LADERA OCCIDENTAL</span>
        <span class="project-name">Steamboat Lake State Park</span>
      </div>
    </a>

  </div>

  <h2 class="subtitle">Más para explorar</h2>
  <div class="more-to-do">
    <a class="more-card" href="/giving-back/es/explore/">
      <div class="more-card-image explore">
      </div>
      <div class="more-card-body">
        Explorar el Mapa
      </div>
    </a>
    <a class="more-card" href="/giving-back/es/virtual-reality/">
      <div class="more-card-image virtual-reality">
      </div>
      <div class="more-card-body">
        Viva una experiencia de RV en 360&deg;
      </div>
    </a>
    <a class="more-card" href="/giving-back/es/regions/">
      <div class="more-card-image projects">
      </div>
      <div class="more-card-body">
        Ver todos los proyectos
      </div>
    </a>
    <a class="more-card" href="/giving-back/es/faq/">
      <div class="more-card-image faq">
      </div>
      <div class="more-card-body">
        Preguntas Frecuentes
      </div>
    </a>
  </div>

  <script>// tracking
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-12717245-1');
  </script>
</section>

<script>
  $(".modal-trigger").on("click", function(e){
    e.preventDefault();
    $("#modalVideo").show().addClass("show");
    $("#modalVideo .video-wrapper").empty();
    $("#modalVideo .video-wrapper").append('<div><iframe width="560" height="315" src="https://www.youtube.com/embed/OzmQqOHVC5I?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>');
  });
  $(".modal-close").on("click", function(e){ e.preventDefault(); $("#modalVideo").hide().removeClass("show"); $("#modalVideo .video-wrapper").empty(); });
</script>