---
layout: base_es.liquid
title: Retribuciones | Colorado Lottery
---
<header>
  <h1>Con su apoyo, hace que Colorado sea posible</h1>
</header>
<article>
  <p>
    Desde que vendimos nuestro primer boleto en 1983, Colorado Lottery se ha comprometido a hacer de nuestro estado un mejor lugar para vivir, disfrutar y explorar los magníficos espacios al aire libre. Gracias a nuestros increíbles jugadores, hemos invertido miles de millones en proyectos que protegen la belleza natural de Colorado y apoyan nuestras escuelas.  Desde senderos en la ladera occidental hasta parques infantiles en las llanuras orientales, los ingresos de la Lotería llegan a todos los rincones del estado y aseguran que las futuras generaciones puedan experimentar las mismas vistas y aventuras asombrosas e inspiradoras.
  </p>
  <p>
    <a class="modal-trigger" href="/giving-back/es/#modalVideo"><span class="play-icon">&#9654;</span>Conozca la diversión que financia la Lotería</a>
  </p>
  <style>
    .project-card-image.project1:before {
    	background-image: url('/giving-back/assets/images/Chimney Rock Wildlife Crossing.webp');
    }
    .project-card-image.project2:before {
    	background-image: url('/giving-back/assets/images/Crown Mountain Bike Park.webp');
    }
  </style>
  <div class="featured-projects">
    <h2>Proyectos Destacados</h2>

    <a class="project-card" href="/giving-back/es/southwest-region/">
      <div class="project-card-image project1">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN SUDOESTE</span>
        <span class="project-name">Chimney Rock Wildlife Crossing</span>
      </div>
    </a>

    <a class="project-card" href="/giving-back/es/mountain-region/">
      <div class="project-card-image project2">
      </div>
      <div class="project-card-body">
        <span class="project-feature">REGIÓN MONTAÑOSA</span>
        <span class="project-name">Crown Mountain Bike Park</span>
      </div>
    </a>

  </div>

  <h2 class="subtitle">Más para explorar</h2>
  <div class="more-to-do">
    <a class="more-card" href="/giving-back/es/explore/">
      <div class="more-card-image explore">
      </div>
      <div class="more-card-body">
        Explorar el Mapa
      </div>
    </a>
    <a class="more-card" href="/giving-back/es/virtual-reality/">
      <div class="more-card-image virtual-reality">
      </div>
      <div class="more-card-body">
        Viva una experiencia de RV en 360&deg;
      </div>
    </a>
    <a class="more-card" href="/giving-back/es/regions/">
      <div class="more-card-image projects">
      </div>
      <div class="more-card-body">
        Ver todos los proyectos
      </div>
    </a>
    <a class="more-card" href="/giving-back/es/faq/">
      <div class="more-card-image faq">
      </div>
      <div class="more-card-body">
        Preguntas Frecuentes
      </div>
    </a>
  </div>

  <script>// tracking
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-12717245-1');
  </script>
</section>

<script>
  $(".modal-trigger").on("click", function(e){
    e.preventDefault();
    $("#modalVideo").show().addClass("show");
    $("#modalVideo .video-wrapper").empty();
    $("#modalVideo .video-wrapper").append('<div><iframe width="560" height="315" src="https://www.youtube.com/embed/OzmQqOHVC5I?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>');
  });
  $(".modal-close").on("click", function(e){ e.preventDefault(); $("#modalVideo").hide().removeClass("show"); $("#modalVideo .video-wrapper").empty(); });
</script>