@import "application.css";

@media screen and (min-width: 640px) {
  body>nav {
    width: 98px;
  }
  body>nav>a.logo {
    margin-left: 10px;
  }
}

body>section.content>header.composite a {
  width: 308px;
}

body .subnav {
  left: 98px;
  width: 320px;
}

article.cards.large div.card a.btn {
  width: 300px;
  left: calc(50% - 150px);
}

.more-card-image.explore:before {
	background-image: url('../images/map-static-es.png');
}