---
layout: base_es.liquid
title: RV | Retribuciones | Colorado Lottery
body_class: virtual-reality
---
<header>
  <h1>Viva Colorado en realidad virtual de 360&deg;</h1>
  <article class="cards" data-bindable="virtual-cards">
    <div class="card">
      <a class="vr-overlay" title="Reproducir video de RV: Salto en esquí en Howelsen" href="/giving-back/es/vr/#!skiing">
        <img alt="Reproducir video de RV: Salto en esquí en Howelsen" height="266" src="/giving-back/assets/images/cards/mountain.jpg" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/es/vr/#!skiing">Salto en esquí en Howelsen</a>
    </div>
    <div class="card">
      <a class="vr-overlay" title="Reproducir video de RV: Recorra Fruita en bicicleta" href="/giving-back/es/vr/#!biking">
        <img alt="Reproducir video de RV: Recorra Fruita en bicicleta" height="266" src="/giving-back/assets/images/cards/western-slope.jpg" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/es/vr/#!biking">Recorra Fruita en bicicleta</a>
    </div>
    <div class="card">
      <a class="vr-overlay" title="Reproducir video de RV: Escale Eldorado" href="/giving-back/es/vr/#!climbing">
        <img alt="Reproducir video de RV: Escale Eldorado" height="266" src="/giving-back/assets/images/cards/northern-front-range.jpg" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/es/vr/#!climbing">Escale Eldorado</a>
    </div>
    <div class="card">

      <a class="vr-overlay" title="Reproducir video de RV: Pabellón Mustang" href="/giving-back/es/vr/#!mustang">
        <img alt="Reproducir video de RV: Pabellón Mustang" height="266" src="/giving-back/assets/images/mustang.webp" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/es/vr/#!mustang">Pabellón Mustang</a>
    </div>
    <div class="card">

      <a class="vr-overlay" title="Reproducir video de RV: Escalada en hielo en Ouray" href="/giving-back/es/vr/#!ouray">
        <img alt="Reproducir video de RV: Escalada en hielo en Ouray" height="266" src="/giving-back/assets/images/ouray-square.webp" width="276" />
      </a>
      <a class="btn rounded" href="/giving-back/es/vr/#!ouray">Escalada en hielo en Ouray</a>
    </div>
  </article>
  <article class="vr-error">
    <div>
      <p>Actualmente, Internet Explorer no es compatible con videos de realidad virtual. Si desea vivir la experiencia, le recomendamos que use Google Chrome o Firefox.</p>
      <div>
        <a class="btn rounded" href="https://www.google.com/chrome/">Descargar Google Chrome</a>
        <a class="btn rounded" href="https://www.google.com/chrome/">Descargar Firefox</a>
      </div>
    </div>
  </article>
</header>
<article>
  <p>Gracias a nuestros jugadores, Colorado Lottery ha invertido miles de millones en parques, senderos y espacios abiertos desde que se vendió el primer boleto en 1983. Cada boleto que compra contribuye a preservar los paisajes emblemáticos de Colorado, a crear espacios comunitarios y a garantizar que las futuras generaciones puedan seguir disfrutando de las mismas vistas y aventuras asombrosas e inspiradoras. Juntos, no solo estamos jugando, sino invirtiendo en el corazón de lo que hace de Colorado nuestro hogar.</p>
  <p>Prepárese, salga y viva en carne propia algunos de los destinos más emocionantes que se benefician de las ganancias de la Lotería en una experiencia de realidad virtual en 360 grados sin moverse ni un centímetro de su asiento. ¿Le gustaría simplemente pasar un buen rato? <a href="/giving-back/es/vr/#!game">Juegue el minijuego de las ganancias.</a></p>
</article>
