---
layout: base_es.liquid
title: Región Este | Retribuciones | Colorado Lottery
meta_description: En 39 años, Colorado Lottery ha devuelto $4 mil millones a Colorado. Vea todos los lugares en la Región Este que son posibles gracias a los fondos de Colorado Lottery.
body_class: region
---
<header class="composite" data-bindable="header-scroll"><div class="header-inner"><div class="background-anim"><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/eastern/sky.png)"></div><div class="layer-fg layer-scrolls layer-clouds" style="background-image: url(/giving-back/assets/images/headers/eastern/clouds.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/eastern/mountains.png)"></div><div class="layer-fg layer-scrolls" style="background-image: url(/giving-back/assets/images/headers/eastern/fg.png)"><div class="windmill-blades-outer"><div class="layer-fg layer-windmill-blades" style="background-image: url(/giving-back/assets/images/headers/eastern/windmill-blades.png)"></div></div></div></div><a class="btn blue" href="/giving-back/es/regions/" id="top">VOLVER A TODAS LAS REGIONES</a><div class="text"><h1>Región Este</h1></div></div></header>

<article>
  <p>Hogar de los diez condados más importantes del sector agrícola del estado que moviliza unos $9 mil millones, las onduladas planicies, el cielo azul y los suelos fértiles del este de Colorado ofrecen el entorno perfecto para granjas de explotación familiar, que constituyen una parte esencial de la economía del estado.</p>
  <p><em>Condados que forman parte de la Región de la Cordillera Frontal: Baca, Bent, Cheyenne, Crowley, Elbert, Kiowa, Kit Carson, Lincoln, Logan, Morgan, Otero, Phillips, Prowers, Sedgwick, Washington, Yuma</em></p>

  <section class="featured-project-carousel">
    <a id="featured-project"></a>
    <h2>Explore nuestros proyectos en la Región Este</h2>

    <style>
      .project-image-eastern-1:before {
      	background-image: url('/giving-back/assets/images/Heartland Ranch Photo Credit to Sean Boggs for Environmental Defense Fund.webp');
      }
      .project-image-eastern-2:before {
      	background-image: url('/giving-back/assets/images/City of Lamar - Lamar Sports Complex.webp');
      }
      .project-image-eastern-3:before {
      	background-image: url('/giving-back/assets/images/jackson lake.webp');
      }
      .project-image-eastern-4:before {
      	background-image: url('/giving-back/assets/images/Dehli_Ranch.webp');
      }
      .project-image-eastern-5:before {
      	background-image: url('/giving-back/assets/images/La Junta Brick and Tile Park.webp');
      }
    </style>

    <div class="carousel-card-wrapper">
      <a id="project-carousel" name="project-carousel"></a>
      <button class="featured-prev carousel-prev" title="Proyecto Destacado Anterior"><img src="/giving-back/assets/images/icons/arrow-left.svg" alt="" /></button>
      <button class="featured-next carousel-next" title="Próximo Proyecto Destacado"><img src="/giving-back/assets/images/icons/arrow-right.svg" alt="" /></button>
      <div class="carousel-cards" id="carousel-cards">
        <div class="project-card">
          <div class="project-card-image project-image-eastern-1">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Expansión de la reserva Heartland Ranch</span>
            <span>1 de 5</span>
            <small>La fotografía es cortesía de Sean Boggs del Fondo de Defensa Ambiental</small>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-eastern-2">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Complejo deportivo Lamar</span>
            <span>2 de 5</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-eastern-3">
          </div>
          <div class="project-card-body">
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Jackson Lake State Park</span>
            <span>3 de 5</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-eastern-4">
          </div>
          <div class="project-card-body">
            <span class="notification">NUEVO</span>
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Servidumbre de Conservación de Delhi Ranch</span>
            <span>4 de 5</span>
          </div>
        </div>
        <div class="project-card">
          <div class="project-card-image project-image-eastern-5">
          </div>
          <div class="project-card-body">
            <span class="notification">NUEVO</span>
            <span class="project-feature">PROYECTO DESTACADO</span>
            <span class="project-name">Parque La Junta Brick &amp; Tile</span>
            <span>5 de 5</span>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-slides" id="carousel-slides">

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Expansión de la reserva Heartland Ranch
        </p>

        <p>Se destinarán fondos de la Lotería por más de $1.3 millones para proteger este hábitat de vida silvestre y recurso natural de 25,000 acres de extensión situado en el condado de Bent, Colorado. Southern Plains Land Trust (SPLT) se asoció con Colorado Open Lands (COL) para proteger unas 40 millas cuadradas—una superficie mayor que la que ocupa cualquier parque estatal de Colorado. El proyecto protege un hábitat de praderas de pasto corto de miles de acres, donde habitan especies nativas como el bisonte, el ciervo mulo y el berrendo, entre otras. Además, el proyecto también incrementará la capacidad de brindar educación ambiental y posibilitará que la reserva pueda recibir alumnos en viajes de estudio.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Video de Youtube" src="https://www.youtube.com/embed/J9bctPkPFXM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Complejo deportivo Lamar</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Complejo deportivo Lamar
        </p>

        <p>Lamar se ha transformado en un verdadero campo de sueños. Finalizado en 2017 con la ayuda de $1.1 millones aportados por la Lotería, el complejo de cuatro campos de softball y baseball está diseñado conforme a la Ley de Americanos con Discapacidad (ADA) y cumple con las normas de juego modernas, a la vez que ofrece a la comunidad un espacio donde realizar varias competencias anuales, entre ellas, dos torneos de la Serie Mundial Babe Ruth. El proyecto incluye cuatro nuevos campos de juego, un puesto de comida, una cabina para el presentador, gradas, marcadores, aspersores de riego y nueva iluminación.</p>

        <article class="image-container"><div class="wrapped"><img src="/giving-back/assets/images/City of Lamar - Lamar Sports Complex.webp" alt="Lamar Sports Complex" /></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Jackson Lake State Park</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Jackson Lake State Park
        </p>

        <p>Los ingresos continuos de la Lotería son fundamentales para los parques estatales de Colorado, los que incluyen el <a href="https://cpw.state.co.us/placestogo/parks/JacksonLake" target="_blank">Jackson Lake State Park</a>, donde con dichos ingresos se financian proyectos vitales como renovaciones de campamentos, mejoras en el centro de visitantes y mejoras en la rampa para embarcaciones. Estas mejoras garantizan que los visitantes disfruten de instalaciones y servicios modernos y tengan una mejor experiencia en general. El camping ofrece instalaciones y alojamientos actualizados, y las mejoras en el centro de visitantes aumentan las oportunidades educativas, con exposiciones interactivas e informativas que muestran la historia natural y cultural del parque. Además, las mejoras en la rampa para embarcaciones facilitaron el acceso al lago, lo que permite a los navegantes y pescadores disfrutar de actividades recreativas de forma segura y cómoda. Los ingresos de la Lotería, tanto a través de la financiación directa como de la inversión de GOCO, desempeñan un papel fundamental en el mantenimiento de la belleza natural y la mejora de las oportunidades recreativas en nuestros parques estatales.</p>

        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/oe4WyjLiz9E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Servidumbre de Conservación de Delhi Ranch</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Servidumbre de Conservación de Delhi Ranch
        </p>

        <p>La servidumbre de conservación de Delhi Ranch abarca aproximadamente 27,340 acres a través de los condados de Las Animas, Otero y Pueblo en Colorado. Situada dentro de la pradera de pastos cortos nativos de las Grandes Llanuras, cuenta con cañones, acantilados y el arroyo Timpas, ofreciendo vistas despejadas a lo largo de la carretera U.S. 350 por casi 15 millas. El rancho se cruza con porciones históricas del Camino de Santa Fe, lo que aumenta su importancia cultural.</p>
        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/b0l-yuIEtpo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>
        <p>Asegurada a través de una subvención de <a href="https://www.goco.org/" target="_blank">GOCO</a> y en colaboración con el <a href="https://ccalt.org/" target="_blank">Colorado Cattlemen’s Agricultural Land Trust</a> (CCALT), Walter y Lynda Hall, y Gary y Havilah Hall, la servidumbre protege los pastizales nativos y apoya la sostenibilidad agrícola. Mitiga la amenaza de fragmentación y desarrollo de la tierra en el sureste de Colorado, reforzada por los fondos de la Lotería a través de GOCO.</p>
        <p>Esta iniciativa no solo preserva el patrimonio ganadero, sino que también genera beneficios económicos significativos, contribuyendo con más de 546 millones de dólares anualmente a la economía de Colorado.</p>

        <p class="project-lead">
          <a href="#" class="project-next">PRÓXIMO PROYECTO: Parque La Junta Brick &amp; Tile</a>
        </p>
      </div>

      <div class="featured-project carousel-slide">
        <p class="project-lead">
          Parque La Junta Brick &amp; Tile
        </p>

        <p>¡El parque La Junta Brick & Tile es un lugar donde todos pueden divertirse y jugar juntos! Este proyecto transformó un espacio de 2.5 acres, propiedad de la ciudad y antes cubierto de maleza, en un área recreativa vibrante e inclusiva, respondiendo a la necesidad de la comunidad de contar con opciones diversas de ejercicio y juego.</p>
        <p>El parque ofrece equipos de juego innovadores para varios grupos de edad, eventos independientes y equipos de ejercicio. Características especiales como un columpio Cedar Arbor para usuarios de sillas de ruedas y instrumentos musicales escultóricos hacen que el parque sea accesible y disfrutable para todos en la comunidad.</p>
        <article class="video-container"><div class="wrapped"><iframe width="560" height="315" title="Youtube Video" src="https://www.youtube.com/embed/dqdiNT8bCSw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div></article>
        <p>TEl proyecto costó $2,702,796, con fondos proporcionados por los dólares de la Lotería a través de <a href="https://www.goco.org/" target="_blank">Great Outdoors Colorado</a>  ($350,000) y el <a href="https://dlg.colorado.gov/conservation-trust-fund-ctf" target="_blank">Conservation Trust Fund</a> ($84,017). Ahora, el parque La Junta Brick & Tile es un lugar donde los niños y las familias pueden salir al aire libre, hacer ejercicio, socializar y jugar con amigos y vecinos de todas las edades y capacidades.</p>

        <p class="project-lead">
          <a href="#" class="project-next">VOLVER A: Expansión de la reserva Heartland Ranch</a>
        </p>
      </div>

    </div>

    <script>
    $('.carousel-slides').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      adaptiveHeight: true,
      focusOnSelect: true,
      initialSlide: 3,
      asNavFor: '.carousel-cards'
    });
    $('.carousel-cards').slick({
      asNavFor: '.carousel-slides',
      prevArrow: '.featured-prev',
      nextArrow: '.featured-next',
      dots: false,
      focusOnSelect: true,
      centerMode: false,
      slidesToShow: 2,
      slidesToScroll: 1,
      infinite: true,
      swipeToSlide: true,
      initialSlide: 3,
      responsive: [
        {
          breakpoint: 840,
          settings: {
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.project-next').on('click', function(e){
      e.preventDefault();
      document.getElementById("carousel-cards").scrollIntoView({behavior: "smooth"});
      $('.carousel-cards').slick('slickNext');
    });
    </script>
  </section>

  <header class="regional-slideshow">
    <a id="project-list"></a>
    <div class="regional-project-slides">
      <div class="regional-project-slide" style="background-image: url('/giving-back/assets/images/eastern-slider-1.jpg');"></div>
    </div>
    <h2>Proyectos Regionales</h2>
    <p class="h4">Información resumida</p>
    <article class="cards">
      <div class="card"><p class="h5">Total Invertido a la Fecha</p><p class="h3">$305.881.592</p></div>
      <div class="card"><p class="h5">Superficie Total Conservada a la Fecha</p><p class="h3">200.028</p></div>
      <div class="card"><p class="h5">Total de Subvenciones Adjudicadas a la Fecha</p><p class="h3">585</p></div>
    </article>
  </header>
  <article class="data-sheet" data-bindable="data-sheet" data-region="eastern"></article>
  <a class="region-article western-slope" href="/giving-back/es/western-slope-region/">
    <div class="image"></div>
    <div class="details">
      <p class="h5">PRÓXIMO PROYECTO</p>
      <p class="h1">Región de la Ladera Occidental</p>
      <div class="btn">Explore <span>la Región de la Ladera Occidental</span></div>
    </div>
  </a>
</article>